<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delta 3D Printing</title>
  <!-- GLOBAL COMPONENTS -->
  <!-- NAVIGATION -->
  <!-- Footer -->
  <script src="../../global/Navigation/Footer/footer.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/Footer/footer.css">
  <!-- SideDrawer -->
  <script src="../../global/Navigation/SideDrawer/sideDrawer.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/SideDrawer/sideDrawer.css">
  <!-- SideDrawerToggle -->
  <script src="../../global/Navigation/SideDrawer/SideDrawerToggle/sideDrawerToggle.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/SideDrawer/SideDrawerToggle/sideDrawerToggle.css">
  <!-- Drawer -->
  <script src="../../global/Navigation/SideDrawer/Drawer/drawer.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/SideDrawer/Drawer/drawer.css">
  <!-- Toolbar -->
  <script src="../../global/Navigation/Toolbar/toolbar.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/Toolbar/toolbar.css">
  <!-- Profile -->
  <script src="../../global/Navigation/Profile/profile.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/Profile/profile.css">
  <!-- Profile Drawer -->
  <script src="../../global/Navigation/Profile/ProfileDrawer/profileDrawer.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/Profile/ProfileDrawer/profileDrawer.css">
  <!-- Visitor -->
  <script src="../../global/Navigation/Profile/Visitor/visitor.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/Profile/Visitor/visitor.css">
  <!-- Login -->
  <script src="../../global/Navigation/Profile/Visitor/Login/login.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/Profile/Visitor/Login/login.css">
  <!-- Signup -->
  <script src="../../global/Navigation/Profile/Visitor/Signup/signup.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/Profile/Visitor/Signup/signup.css">
  <!-- User -->
  <script src="../../global/Navigation/Profile/User/user.js"></script>
  <link rel="stylesheet" href="../../global/Navigation/Profile/User/user.css">
  <!-- UI -->
  <!-- Backdrop -->
  <script src="../../global/UI/Backdrop/backdrop.js"></script>
  <link rel="stylesheet" href="../../global/UI/Backdrop/backdrop.css">
  <!-- Modal -->
  <script src="../../global/UI/Modal/modal.js"></script>
  <link rel="stylesheet" href="../../global/UI/Modal/modal.css">
  <!-- LOCAL COMPONENTS -->
  <!-- ROOT -->
  <script src="./homepage.js"></script>
  <link rel="stylesheet" href="./homepage.css">
  <!-- SERVICES -->
  <script src="./Services/services.js"></script>
  <link rel="stylesheet" href="./Services/services.css">
  <!-- Service -->
  <script src="./Services/Service/service.js"></script>
  <link rel="stylesheet" href="./Services/Service/service.css">
  <!-- Marketplace -->
  <script src="./Services/Service/Marketplace/marketplace.js"></script>
  <link rel="stylesheet" href="./Services/Service/Marketplace/marketplace.css">
  <!-- 3D Modelling Service -->
  <script src="./Services/Service/ModellingService/modellingService.js"></script>
  <link rel="stylesheet" href="./Services/Service/ModellingService/modellingService.css">
  <!-- 3D Printing Service -->
  <script src="./Services/Service/PrintingService/printingService.js"></script>
  <link rel="stylesheet" href="./Services/Service/PrintingService/printingService.css">
  <!-- EXTERNAL -->
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Chivo|Open+Sans|Russo+One" rel="stylesheet">
</head>

<body>
  <div id="root"></div>
</body>

<style>
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>

<script>
  let rootPointer;

  rootPointer = document.querySelector("#root");

  // Global Initialisation
  window.onload = () => {
    homepageInit();
    sideDrawerInit();
    drawerInit(testObj);
    sideDrawerToggleInit();
    profileInit();
  };
</script>

</html>