.order_details_main_body {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

.order_details_body {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background-color: rgb(255, 230, 230);
  border-radius: 1vmin;
  padding: 2vmin;
  margin: 2vmin 0 0 0;
}

.order_status_description_body {
  margin: 2vmin 0 0 0;
}

.order_details_comments_body {
  margin: 2vmin 0 2vmin 0;
}

#order_status_tabs_body {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1vmin;
  background-color: rgb(255, 250, 250);
}

.order_status_tab_body {
  height: 14vmin;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.8vmin 0 2.8vmin;
  border-radius: 1vmin;
}

.order_status_tab_text {
  font-family: "Chivo", sans-serif;
  text-align: center;
  font-size: 3.4vmin;
  color: rgb(50, 50, 50);
}

.order_status_tab_body_selected {
  background-color: rgb(200, 40, 40);
}

.order_status_tab_text_selected {
  color: rgb(245, 245, 245);
  font-weight: 700;
}

#order_status_description_heading_body {
  display: flex;
  align-items: center;
  padding: 5vmin 0 5vmin 0;
}

#order_status_description_heading_text {
  font-family: "Russo One", sans-serif;
  font-size: 5vmin;
  text-align: center;
  color: rgb(170, 10, 10);
}

#order_status_description_details_body {
  display: flex;
  align-items: center;
  padding: 0 2vmin 0 2vmin;
  margin: 1vmin 0 1vmin 0;
}

#order_status_description_details_text {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5vmin;
  text-align: justify;
  color: rgb(80, 80, 80);
}

/* Order Details Pats Options */

.order_details_order_options_header {
  height: 10vmin;
  width: 100%;
  padding: 1vmin 0 0 0;
  font-family: "Russo One", sans-serif;
  color: rgb(170, 10, 10);
  font-size: 5vmin;
}

.order_details_part_details_body {
  width: 100%;
  display: flex;
  background-color: rgb(255, 250, 250);
}

.order_details_part_details_file_name_body {
  height: 14vmin;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2vmin solid rgb(235, 235, 235);
  padding: 2vmin 1vmin 2vmin 1vmin;
}

.order_details_part_details_file_name_content {
  font-family: "Chivo", sans-serif;
  font-size: 3.5vmin;
  font-weight: 700;
  color: rgb(170, 10, 10);
}

.order_details_part_details_quantity_body {
  height: 14vmin;
  width: 22.5%;
  display: flex;
  flex-direction: column;
  border: 0.2vmin solid rgb(235, 235, 235);
  padding: 2vmin 1vmin 2vmin 1vmin;
}

.order_details_part_details_price_body {
  height: 14vmin;
  width: 22.5%;
  display: flex;
  flex-direction: column;
  border: 0.2vmin solid rgb(235, 235, 235);
  padding: 2vmin 1vmin 2vmin 1vmin;
}

.order_details_part_details_quantity_header {
  height: 6vmin;
  display: flex;
  align-items: flex-start;
  font-family: "Chivo", sans-serif;
  font-size: 3.5vmin;
  color: rgb(100, 100, 100);
}

.order_details_part_details_quantity_content {
  height: 5vmin;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Chivo", sans-serif;
  font-size: 3.5vmin;
  color: rgb(50, 50, 50);
}

.order_details_part_details_price_header {
  height: 5vmin;
  display: flex;
  align-items: flex-start;
  font-family: "Chivo", sans-serif;
  font-size: 3.5vmin;
  color: rgb(100, 100, 100);
}

.order_details_part_details_price_content {
  height: 5vmin;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Chivo", sans-serif;
  font-size: 3.5vmin;
  color: rgb(50, 50, 50);
}

/* ATTACHMENT */

.order_details_attachments_header {
  height: 10vmin;
  width: 100%;
  padding: 1vmin 0 0 0;
  font-family: "Russo One", sans-serif;
  color: rgb(170, 10, 10);
  font-size: 5vmin;
}

/* COMMENT */

.order_details_comments_header {
  height: 10vmin;
  width: 100%;
  padding: 1vmin 0 0 0;
  font-family: "Russo One", sans-serif;
  color: rgb(170, 10, 10);
  font-size: 5vmin;
}

#order_details_add_comment_body {
  width: 100%;
  padding: 3vmin 6vmin 3vmin 6vmin;
}

#order_details_add_comment_input {
  height: 18vmin;
  width: 100%;
  background-color: rgb(255, 250, 250);
  border-radius: 1vmin;
}

#order_details_add_comment_post_button_body {
  width: 18vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vmin 0 0 0;
}

#order_details_add_comment_post_button {
  padding: 1vmin 3vmin 1vmin 3vmin;
  border-radius: 1.8vmin;
  background-color: rgb(170, 10, 10);
  color: rgb(240, 240, 240);
  font-family: "Chivo", sans-serif;
  box-shadow: 0 0 0.5vmin 0.2vmin rgb(180, 180, 180);
}

#order_details_add_comment_post_button:active {
  box-shadow: none;
}

#order_details_comments_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.order_details_comment_body {
  width: 95%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  margin: 1.6vmin 0 1.6vmin 0;
}

.order_details_comment {
  min-height: 24vmin;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 1vmin;
  background-color: rgb(255, 250, 250);
}

.order_details_comment_date {
  padding: 2vmin 0 2vmin 5vmin;
  font-family: "Chivo", sans-serif;
  font-size: 2.4vmin;
}

.order_details_comment_text {
  padding: 0 2vmin;
  margin: 0 0 2vmin;
  font-family: "Open Sans", sans-serif;
  font-size: 3vmin;
}

.order_details_comment_author_details {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.order_details_comment_author_profile_picture {
  height: 12vmin;
  width: 12vmin;
  border-radius: 6vmin;
  margin: 1vmin 0 3vmin 0;
  background-color: rgb(240, 240, 240);
}

.order_details_comment_author_profile_name {
  font-family: "Russo One", sans-serif;
  font-size: 3.4vmin;
  font-weight: 100;
}

@media only screen and (min-width: 600px) {
  .order_details_body {
    border-radius: 0.5vmin;
    padding: 1vmin;
    margin: 1vmin 0 0 0;
  }

  .order_status_description_body {
    margin: 1vmin 0 0 0;
  }

  .order_details_comments_body {
    margin: 0 0 1vmin 0;
  }

  #order_status_tabs_body {
    border-radius: 0.5vmin;
  }

  .order_status_tab_body {
    height: 7vmin;
    width: calc(100% / 4);
    padding: 0 1.4vmin 0 1.4vmin;
    border-radius: 0.5vmin;
  }

  .order_status_tab_text {
    font-size: 1.7vmin;
  }

  #order_status_description_heading_body {
    padding: 2.5vmin 0 2.5vmin 0;
  }

  #order_status_description_heading_text {
    font-size: 2.5vmin;
  }

  #order_status_description_details_body {
    padding: 0 1vmin 0 1vmin;
  }

  #order_status_description_details_text {
    font-size: 1.75vmin;
  }

  /* Order Details Pats Options */

  .order_details_order_options_header {
    height: 5vmin;
    padding: 0.5vmin 0 0 0;
    font-size: 2.5vmin;
  }

  .order_details_part_details_file_name_body {
    height: 7vmin;
    width: 55%;
    border: 0.1vmin solid rgb(235, 235, 235);
    padding: 1vmin 0.5vmin 1vmin 0.5vmin;
  }

  .order_details_part_details_file_name_content {
    font-size: 1.75vmin;
  }

  .order_details_part_details_quantity_body {
    height: 7vmin;
    width: 22.5%;
    border: 0.1vmin solid rgb(235, 235, 235);
    padding: 1vmin 0.5vmin 1vmin 0.5vmin;
  }

  .order_details_part_details_price_body {
    height: 7vmin;
    width: 22.5%;
    border: 0.1vmin solid rgb(235, 235, 235);
    padding: 1vmin 0.5vmin 1vmin 0.5vmin;
  }

  .order_details_part_details_quantity_header {
    height: 3vmin;
    font-size: 1.75vmin;
  }

  .order_details_part_details_quantity_content {
    height: 2.5vmin;
    font-size: 1.75vmin;
  }

  .order_details_part_details_price_header {
    height: 2.5vmin;
    font-size: 1.75vmin;
  }

  .order_details_part_details_price_content {
    height: 2.5vmin;
    font-size: 1.75vmin;
  }

  /* ATTACHMENT */

  .order_details_attachments_header {
    height: 5vmin;
    padding: 0.5vmin 0 0 0;
    font-size: 2.5vmin;
  }

  /* COMMENT */

  .order_details_comments_header {
    height: 5vmin;
    padding: 0.5vmin 0 0 0;
    font-size: 2.5vmin;
  }

  #order_details_add_comment_body {
    padding: 1.5vmin 10vmin;
  }

  #order_details_add_comment_input {
    height: 9vmin;
    border-radius: 0.5vmin;
  }

  #order_details_add_comment_post_button_body {
    width: 9vmin;
    padding: 0.5vmin 0 0 0;
  }

  #order_details_add_comment_post_button {
    padding: 0.5vmin 1.5vmin 0.5vmin 1.5vmin;
    border-radius: 0.9vmin;
    box-shadow: 0 0 0.25vmin 0.1vmin rgb(180, 180, 180);
  }

  .order_details_comment_body {
    width: 80%;
    margin: 0.8vmin 0 0.8vmin 0;
  }

  .order_details_comment {
    min-height: 12vmin;
    width: 80%;
    border-radius: 0.5vmin;
  }

  .order_details_comment_date {
    padding: 1vmin 0 1vmin 2.5vmin;
    font-size: 1.2vmin;
  }

  .order_details_comment_text {
    padding: 0 1vmin;
    margin: 0 0 1vmin;
    font-size: 1.5vmin;
  }

  .order_details_comment_author_details {
    width: 20%;
  }

  .order_details_comment_author_profile_picture {
    height: 6vmin;
    width: 6vmin;
    border-radius: 3vmin;
    margin: 0.5vmin 0 1.5vmin 0;
  }

  .order_details_comment_author_profile_name {
    font-size: 1.7vmin;
  }
}
