.service_body_content {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in;
}

.service_title_body {
  height: 25%;
  max-width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.service_title_text {
  font-size: 8vmin;
  text-align: center;
  font-family: "Russo One", sans-serif;
  color: rgb(140, 10, 10);
}

.service_summary_quote_body {
  height: 20%;
  max-width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.service_summary_quote_text {
  font-size: 5vmin;
  text-align: center;
  font-family: "Russo One", sans-serif;
  color: rgb(120, 120, 120);
}

.service_button_body {
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.service_button {
  height: 9vmin;
  border-radius: 4.5vmin;
  box-shadow: 0 1vmin 1.5vmin 0 rgba(76, 18, 31, 0.35);
  padding: 0 4vmin 0 4vmin;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 75, 90);
}

.service_button:hover {
  background-color: rgb(255, 50, 60);
}

.service_button:active {
  background-color: rgb(255, 50, 60);
  box-shadow: none;
}

.service_button_text {
  font-size: 3.5vmin;
  text-align: center;
  font-family: "Chivo", sans-serif;
  color: white;
  font-weight: 500;
}

.service_description_body {
  padding: 6vmin 0 0 0;
  max-width: 80%;
  height: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.service_description_text {
  font-size: 4vmin;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: rgb(70, 70, 70);
}

.service_modal_body {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.temp_modal_title {
  font-size: 6vmin;
  padding: 0 10vmin 0 10vmin;
  height: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Russo One", sans-serif;
}

.temp_modal_content {
  font-size: 4vmin;
  padding: 6vmin 10vmin 0 10vmin;
  height: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Chivo", sans-serif;
}

@media only screen and (min-width: 600px) {
  .service_title_text {
    font-size: 5vmin;
  }

  .service_summary_quote_text {
    font-size: 3vmin;
  }

  .service_button {
    height: 5vmin;
    border-radius: 2.5vmin;
    box-shadow: 0 0.5vmin 1vmin 0 rgba(76, 18, 31, 0.35);
    padding: 0 2vmin 0 2vmin;
  }

  .service_button_text {
    font-size: 2vmin;
  }

  .service_description_body {
    padding: 4vmin 10vmin 0 10vmin;
  }

  .service_description_text {
    font-size: 2.5vmin;
  }

  .temp_modal_title {
    font-size: 3vmin;
    padding: 5vmin 0 5vmin 0;
  }

  .temp_modal_content {
    font-size: 2vmin;
    padding: 5vmin 0 5vmin 0;
  }
}
