<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delta 3D Printing</title>
  <!-- ===================================================== INDEX ===================================================== -->
  <script src="../components/developmentIndex.js"></script>
  <link rel="stylesheet" href="../components/developmentIndex.css">
  <!-- =============================================== GLOBAL COMPONENTS =============================================== -->
  <!-- -------------------------------------------------- VALIDATION --------------------------------------------------- -->
  <!-- Is User Logged In -->
  <!--   <script src="../components/global/Validation/isUserLoggedIn.js"></script>
  <link rel="stylesheet" href="../components/global/Validation/isUserLoggedIn.css"> -->
  <!-- ---------------------------------------------------- ACCOUNT ---------------------------------------------------- -->
  <link rel="stylesheet" href="../components/global/Account/account.css">
  <!-- LOGIN -->
  <script src="../components/global/Account/Login/login.js"></script>
  <link rel="stylesheet" href="../components/global/Account/Login/login.css">
  <!-- SIGNUP -->
  <script src="../components/global/Account/Signup/signup.js"></script>
  <link rel="stylesheet" href="../components/global/Account/Signup/signup.css">
  <!-- -------------------------------------------------- NAVIGATION --------------------------------------------------- -->
  <!-- Footer -->
  <script src="../components/global/Navigation/Footer/footer.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/Footer/footer.css">
  <!-- Services -->
  <script src="../components/global/Navigation/Footer/Services/services.js"></script>
  <!-- 3D Printing Service -->
  <script src="../components/global/Navigation/Footer/Services/PrintingService/printingService.js"></script>
  <!-- 3D Modelling Service -->
  <script src="../components/global/Navigation/Footer/Services/ModellingService/modellingService.js"></script>
  <!-- Marketplace -->
  <script src="../components/global/Navigation/Footer/Services/Marketplace/marketplace.js"></script>
  <!-- Resources -->
  <script src="../components/global/Navigation/Footer/Resources/resources.js"></script>
  <!-- About -->
  <script src="../components/global/Navigation/Footer/About/about.js"></script>
  <!-- About Us -->
  <script src="../components/global/Navigation/Footer/About/AboutUs/aboutUs.js"></script>
  <!-- What is Delta 3D Printing -->
  <script src="../components/global/Navigation/Footer/About/WhatIsDelta3DPrinting/whatIsDelta3DPrinting.js"></script>
  <!-- Support -->
  <script src="../components/global/Navigation/Footer/Support/support.js"></script>
  <!-- Contact Us -->
  <script src="../components/global/Navigation/Footer/Support/contactUs/contactUs.js"></script>
  <!-- SideDrawer -->
  <script src="../components/global/Navigation/SideDrawer/sideDrawer.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/SideDrawer/sideDrawer.css">
  <!-- SideDrawerToggle -->
  <script src="../components/global/Navigation/SideDrawer/SideDrawerToggle/sideDrawerToggle.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/SideDrawer/SideDrawerToggle/sideDrawerToggle.css">
  <!-- Drawer -->
  <script src="../components/global/Navigation/SideDrawer/Drawer/drawer.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/SideDrawer/Drawer/drawer.css">
  <!-- Toolbar -->
  <script src="../components/global/Navigation/Toolbar/toolbar.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/Toolbar/toolbar.css">
  <!-- Profile -->
  <script src="../components/global/Navigation/ProfileIcon/profileIcon.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/ProfileIcon/profileIcon.css">
  <!-- Profile Drawer -->
  <script src="../components/global/Navigation/ProfileIcon/ProfileDrawer/profileDrawer.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/ProfileIcon/ProfileDrawer/profileDrawer.css">
  <!-- Visitor -->
  <script src="../components/global/Navigation/ProfileIcon/Visitor/visitor.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/ProfileIcon/Visitor/visitor.css">
  <!-- Login -->
  <script src="../components/global/Navigation/ProfileIcon/Visitor/Login/login.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/ProfileIcon/Visitor/Login/login.css">
  <!-- Signup -->
  <script src="../components/global/Navigation/ProfileIcon/Visitor/Signup/signup.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/ProfileIcon/Visitor/Signup/signup.css">
  <!-- User -->
  <script src="../components/global/Navigation/ProfileIcon/User/user.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/ProfileIcon/User/user.css">
  <!-- Profile -->
  <script src="../components/global/Navigation/ProfileIcon/User/Profile/profile.js"></script>
  <!-- Logout -->
  <script src="../components/global/Navigation/ProfileIcon/User/Logout/logout.js"></script>
  <link rel="stylesheet" href="../components/global/Navigation/ProfileIcon/User/Logout/logout.css">
  <!-- ------------------------------------------------------ UI ------------------------------------------------------- -->
  <!-- Backdrop -->
  <script src="../components/global/UI/Backdrop/backdrop.js"></script>
  <link rel="stylesheet" href="../components/global/UI/Backdrop/backdrop.css">
  <!-- Modal -->
  <script src="../components/global/UI/Modal/modal.js"></script>
  <link rel="stylesheet" href="../components/global/UI/Modal/modal.css">
  <!-- Loader -->
  <script src="../components/global/UI/Loader/loader.js"></script>
  <link rel="stylesheet" href="../components/global/UI/Loader/loader.css">
  <!-- --------------------------------------------------- NEW ORDER --------------------------------------------------- -->
  <!-- New Print -->
  <script src="../components/global/NewOrder/NewPrint/newPrint.js"></script>
  <link rel="stylesheet" href="../components/global/NewOrder/NewPrint/newPrint.css">
  <!-- Upload 3D Model -->
  <script src="../components/global/NewOrder/NewPrint/UploadModel/uploadModel.js"></script>
  <link rel="stylesheet" href="../components/global/NewOrder/NewPrint/UploadModel/uploadModel.css">
  <!-- Select Material -->
  <script src="../components/global/NewOrder/NewPrint/SelectMaterial/selectMaterial.js"></script>
  <link rel="stylesheet" href="../components/global/NewOrder/NewPrint/SelectMaterial/selectMaterial.css">
  <!-- Material Group -->
  <script src="../components/global/NewOrder/NewPrint/SelectMaterial/MaterialGroup/materialGroup.js"></script>
  <link rel="stylesheet" href="../components/global/NewOrder/NewPrint/SelectMaterial/MaterialGroup/materialGroup.css">
  <!-- Process -->
  <script src="../components/global/NewOrder/NewPrint/SelectMaterial/Process/process.js"></script>
  <link rel="stylesheet" href="../components/global/NewOrder/NewPrint/SelectMaterial/Process/process.css">
  <!-- Material -->
  <script src="../components/global/NewOrder/NewPrint/SelectMaterial/Material/material.js"></script>
  <link rel="stylesheet" href="../components/global/NewOrder/NewPrint/SelectMaterial/Material/material.css">
  <!-- Choose Options -->
  <script src="../components/global/NewOrder/NewPrint/ChooseOptions/chooseOptions.js"></script>
  <link rel="stylesheet" href="../components/global/NewOrder/NewPrint/ChooseOptions/chooseOptions.css">
  <!-- Material Options -->
  <script src="../components/global/NewOrder/NewPrint/ChooseOptions/MaterialOptions/materialOptions.js"></script>
  <!-- Plastic -->
  <script src="../components/global/NewOrder/NewPrint/Plastic/plastic.js"></script>
  <!-- FDM -->
  <script src="../components/global/NewOrder/NewPrint/Plastic/FDM/fdm.js"></script>
  <!-- PLA -->
  <script src="../components/global/NewOrder/NewPrint/Plastic/FDM/PLA/pla.js"></script>
  <!-- ABS -->
  <script src="../components/global/NewOrder/NewPrint/Plastic/FDM/ABS/abs.js"></script>
  <!-- PETG -->
  <script src="../components/global/NewOrder/NewPrint/Plastic/FDM/PETG/petg.js"></script>
  <!-- FLEX -->
  <script src="../components/global/NewOrder/NewPrint/Plastic/FDM/FLEX/flex.js"></script>
  <!-- Metal -->
  <script src="../components/global/NewOrder/NewPrint/Metal/metal.js"></script>
  <!-- =============================================== LOCAL COMPONENTS ================================================ -->
  <!-- --------------------------------------------------- HOMEPAGE ---------------------------------------------------- -->
  <script src="../components/local/Homepage/homepage.js"></script>
  <link rel="stylesheet" href="../components/local/Homepage/homepage.css">
  <!-- SERVICES -->
  <script src="../components/local/Homepage/Services/services.js"></script>
  <link rel="stylesheet" href="../components/local/Homepage/Services/services.css">
  <!-- Service -->
  <script src="../components/local/Homepage/Services/Service/service.js"></script>
  <link rel="stylesheet" href="../components/local/Homepage/Services/Service/service.css">
  <!-- Marketplace -->
  <script src="../components/local/Homepage/Services/Service/Marketplace/marketplace.js"></script>
  <link rel="stylesheet" href="../components/local/Homepage/Services/Service/Marketplace/marketplace.css">
  <!-- 3D Modelling Service -->
  <script src="../components/local/Homepage/Services/Service/ModellingService/modellingService.js"></script>
  <link rel="stylesheet" href="../components/local/Homepage/Services/Service/ModellingService/modellingService.css">
  <!-- 3D Printing Service -->
  <script src="../components/local/Homepage/Services/Service/PrintingService/printingService.js"></script>
  <link rel="stylesheet" href="../components/local/Homepage/Services/Service/PrintingService/printingService.css">
  <!-- PARTNER WITH US -->
  <script src="../components/local/Homepage/PartnerWithUs/partnerWithUs.js"></script>
  <link rel="stylesheet" href="../components/local/Homepage/PartnerWithUs/partnerWithUs.css">
  <!-- ---------------------------------------------------- PRICING ---------------------------------------------------- -->
  <script src="../components/local/Pricing/pricing.js"></script>
  <!-- Pricing Summary -->
  <script src="../components/local/Pricing/PricingSummary/pricingSummary.js"></script>
  <link rel="stylesheet" href="../components/local/Pricing/PricingSummary/pricingSummary.css">
  <!-- Material Category Tabs -->
  <script src="../components/local/Pricing/PricingSummary/MaterialCategory/materialCategoryTabs.js"></script>
  <link rel="stylesheet" href="../components/local/Pricing/PricingSummary/MaterialCategory/materialCategoryTabs.css">
  <!-- Material Category Contents -->
  <script src="../components/local/Pricing/PricingSummary/MaterialCategory/materialCategoryContents.js"></script>
  <!-- Manufacturing Method Tabs -->
  <script src="../components/local/Pricing/PricingSummary/MaterialCategory/ManufacturingMethod/manufacturingMethodTabs.js"></script>
  <link rel="stylesheet" href="../components/local/Pricing/PricingSummary/MaterialCategory/ManufacturingMethod/manufacturingMethodTabs.css">
  <!-- Manufacturing Method Contents -->
  <script src="../components/local/Pricing/PricingSummary/MaterialCategory/ManufacturingMethod/manufacturingMethodContents.js"></script>
  <!-- Material Type Tabs -->
  <script src="../components/local/Pricing/PricingSummary/MaterialCategory/ManufacturingMethod/MaterialType/materialTypeTabs.js"></script>
  <link rel="stylesheet" href="../components/local/Pricing/PricingSummary/MaterialCategory/ManufacturingMethod/MaterialType/materialTypeTabs.css">
  <!-- Material Type Contents -->
  <script src="../components/local/Pricing/PricingSummary/MaterialCategory/ManufacturingMethod/MaterialType/materialTypeContents.js"></script>
  <!-- Material Detail Tables -->
  <script src="../components/local/Pricing/PricingSummary/MaterialCategory/ManufacturingMethod/MaterialType/MaterialDetail/materialDetailTables.js"></script>
  <link rel="stylesheet" href="../components/local/Pricing/PricingSummary/MaterialCategory/ManufacturingMethod/MaterialType/MaterialDetail/materialDetailTables.css">
  <!-- Metals -->
  <script src="../components/local/Pricing/PricingSummary/Metal/metal.js"></script>
  <!-- Plastics -->
  <script src="../components/local/Pricing/PricingSummary/Plastic/plastic.js"></script>
  <!-- FDM -->
  <script src="../components/local/Pricing/PricingSummary/Plastic/FDM/fdm.js"></script>
  <!-- PLA -->
  <script src="../components/local/Pricing/PricingSummary/Plastic/FDM/PLA/pla.js"></script>
  <!-- ABS -->
  <script src="../components/local/Pricing/PricingSummary/Plastic/FDM/ABS/abs.js"></script>
  <!-- PETG -->
  <script src="../components/local/Pricing/PricingSummary/Plastic/FDM/PETG/petg.js"></script>
  <!-- FLEX -->
  <script src="../components/local/Pricing/PricingSummary/Plastic/FDM/FLEX/flex.js"></script>
  <!-- SLA -->
  <script src="../components/local/Pricing/PricingSummary/Plastic/SLA/sla.js"></script>
  <!-- ---------------------------------------------------- PROFILE ---------------------------------------------------- -->
  <script src="../components/local/Profile/profile.js"></script>
  <link rel="stylesheet" href="../components/local/Profile/profile.css">
  <!-- Dashboard -->
  <script src="../components/local/Profile/Dashboard/dashboard.js"></script>
  <link rel="stylesheet" href="../components/local/Profile/Dashboard/dashboard.css">
  <!-- Orders -->
  <script src="../components/local/Profile/Orders/orders.js"></script>
  <link rel="stylesheet" href="../components/local/Profile/Orders/orders.css">
  <!-- Orders Prints -->
  <script src="../components/local/Profile/Orders/Prints/prints.js"></script>
  <!-- Buttons -->
  <script src="../components/local/Profile/Orders/Prints/Buttons/buttons.js"></script>
  <link rel="stylesheet" href="../components/local/Profile/Orders/Prints/Buttons/buttons.css">
  <!-- Orders Marketplace -->
  <script src="../components/local/Profile/Orders/Marketplace/marketplace.js"></script>
  <!-- Settings -->
  <script src="../components/local/Profile/Settings/settings.js"></script>
  <!-- =================================================== EXTERNAL ==================================================== -->
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Chivo|Open+Sans|Raleway|Russo+One" rel="stylesheet">
  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

<script>
  const testFunction = () => {
    /* Add Event Listener for Order Button */
    document
      .querySelector("#order_new_print_order_body")
      .addEventListener("click", () => {
        console.log(
          document.querySelector("#order_new_prints_upload_input_file").files
        );
        axios.post(
          "/new_order",
          document.querySelector("#order_new_prints_upload_input_file").files
        );
      });
  }
</script>

</html>