<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Zealand Based 3D Printing Service | Delta 3D Printing</title>
  <meta name="description" content="Delta 3D Printing provides cheap and high-quality 3D printing services and products for people across New Zealand. Benefits and discounts for students and returning customers. Partner With Us! Personalised services and discounts for businesses and organisations partnered with us.">
  <!-- ============================================== EXTERNAL ============================================== -->
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Chivo|Open+Sans|Raleway|Russo+One" rel="stylesheet">
  <!-- Jquery -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
  <!-- Maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRepNytrdQFVYOgxLQP6DrHO6Ovkk8Ocg&libraries=places"
    async defer></script>
  <!-- Moment -->
  <script src="https://gitcdn.link/repo/moment/moment/develop/moment.js"></script>
  <!-- =============================================== GLOBAL =============================================== -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/global.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/global.css">
  <!-- ----------------------------------------------- TOOLS ------------------------------------------------ -->
  <!--   <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Tools/dateFormatter.js"></script> -->
  <!-- --------------------------------------------- NAVIGATION --------------------------------------------- -->
  <!-- Navigation: Toolbar -->
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/Toolbar/toolbar.css">
  <!-- Navigation: Navigation Drawer -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/NavigationDrawer/navigationDrawer.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/NavigationDrawer/navigationDrawer.css">
  <!-- Navigation: Profile Drawer -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/profileDrawer.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/profileDrawer.css">
  <!-- Navigation: Profile Drawer: Visitor -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/Visitor/visitor.js"></script>
  <!-- Navigation: Profile Drawer: User -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/User/user.js"></script>
  <!-- Navigation: Footer -->
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/Footer/footer.css">
  <!-- ------------------------------------------- USER INTERFACE ------------------------------------------- -->
  <!-- User Interface: Modal -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Modal/modal.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Modal/modal.css">
  <!-- User Interface: Backdrop -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Backdrop/backdrop.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Backdrop/backdrop.css">
  <!-- User Interface: Loader -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Loader/loader.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Loader/loader.css">
  <!-- ---------------------------------------------- ACCOUNT ----------------------------------------------- -->
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/account.css">
  <!-- Account: Login -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Login/login.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Login/login.css">
  <!-- Account: Profile -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Signup/signup.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Signup/signup.css">
  <!-- ---------------------------------------- ADDRESS AUTOCOMPLETE ---------------------------------------- -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/AddressAutocomplete/addressAutocomplete.js"></script>
  <!-- --------------------------------------------- VALIDATION --------------------------------------------- -->
  <!-- Validation: Login Status -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Validation/LoginStatus/loginStatus.js"></script>
  <!-- --------------------------------------------- NEW ORDER ---------------------------------------------- -->
  <!-- New Order: Order New Print -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/orderNewPrint.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/orderNewPrint.css">
  <!-- New Order: Order New Print: Parts -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/parts.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/parts.css">
  <!-- New Order: Order New Print: Parts: Part -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/part.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/part.css">
  <!-- New Order: Order New Print: Parts: Part: Upload Model -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/UploadModel/uploadModel.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/UploadModel/uploadModel.css">
  <!-- New Order: Order New Print: Parts: Part: Select Material -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/selectMaterial.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/selectMaterial.css">
  <!-- New Order: Order New Print: Parts: Part: Select Material: Material Group -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/MaterialGroup/materialGroup.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/MaterialGroup/materialGroup.css">
  <!-- New Order: Order New Print: Parts: Part: Select Material: Process -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Process/process.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Process/process.css">
  <!-- New Order: Order New Print: Parts: Part: Select Material: Material -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Material/material.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Material/material.css">
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/plastic.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/fdm.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: PLA -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/PLA/pla.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: ABS -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/ABS/abs.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: PETG -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/PETG/petg.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: FLEX -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/FLEX/flex.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: SLA -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/SLA/sla.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Metal -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Metal/metal.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Choose Options -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/chooseOptions.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/chooseOptions.css">
  <!-- New Order: Order New Print: Parts: Part: Choose Options: Material Options -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/MaterialOptions/materialOptions.js"></script>
  <!-- New Order: Order New Print: Global Options -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/GlobalOptions/globalOptions.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/GlobalOptions/globalOptions.css">
  <!-- New Order: Order New Print: Submit New Print Order -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/SubmitNewPrintOrder/submitNewPrintOrder.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/SubmitNewPrintOrder/submitNewPrintOrder.css">
  <!-- ------------------------------------------- ORDER DETAILS -------------------------------------------- -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/orderDetails.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/orderDetails.css">
  <!-- Awaiting Quote -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingQuote/awaitingQuote.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingQuote/awaitingQuote.css">
  <!-- Awaiting Payment -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPayment/awaitingPayment.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPayment/awaitingPayment.css">
  <!-- Order Details: Awaiting Payment Confirmation -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPaymentConfirmation/awaitingPaymentConfirmation.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPaymentConfirmation/awaitingPaymentConfirmation.css">
  <!-- =========================================== LOCAL: PROFILE =========================================== -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/profile.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/profile.css">
  <!-- ----------------------------------------- PROFIE: DASHBOARD ------------------------------------------ -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Dashboard/dashboard.js"></script>
  <!-- Profile: Orders -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/orders.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/orders.css">
  <!-- Profile: Orders: Prints -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/prints.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/prints.css">
  <!-- Profile: Orders: Prints: Buttons -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/Buttons/buttons.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/Buttons/buttons.css">
  <!-- Profile: Orders: Print: Order Summary -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/ordersSummary.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/ordersSummary.css">
  <!-- Profile: Orders: Print: Order Summary: Order List -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersList/ordersList.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersList/ordersList.css">
  <!-- Profile: Orders: Print: Order Summary: Order Filter -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersFilter/ordersFilter.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersFilter/ordersFilter.css">
  <!-- Profile: Orders: Marketplace -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Marketplace/marketplace.js"></script>
  <!-- Profile: Settings -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/settings.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/settings.css">
  <!-- Profile: Settings: Profile -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/profile.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/profile.css">
  <!-- Profile: Settings: Profile: Basic Information -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/BasicInformation/basicInformation.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/BasicInformation/basicInformation.css">
  <!-- Profile: Settings: Profile: Address -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/Address/address.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/Address/address.css">
  <!-- Profile: Settings: Profile: Update Profile -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/UpdateProfile/updateProfile.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/UpdateProfile/updateProfile.css">
</head>

<body>
  <!-- ====================================== TOOLBAR ====================================== -->

  <div id="toolbar">
    <div id='navigation_drawer_toggle'>
      <div id="navigation_drawer_toggle_bar_1" class="navigation_drawer_toggle_bar"></div>
      <div id="navigation_drawer_toggle_bar_2" class="navigation_drawer_toggle_bar"></div>
      <div id="navigation_drawer_toggle_bar_3" class="navigation_drawer_toggle_bar"></div>
    </div>
    <div id='homepage_logo_container'></div>
    <div id="profile_drawer_toggle">
      <img src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/assets/profile_icon.png" alt="profile_icon"
        id="profile_drawer_icon">
    </div>
  </div>

  <!-- ================================= NAVIGATION DRAWER ================================= -->

  <div id="navigation_drawer" class="navigation_drawer_close">
    <a href="/" class="navigation_link">Home</a href="/">
    <a href="/Services" class="navigation_link">Services</a>
    <a href="/Pricing" class="navigation_link">Pricing</a>
  </div>

  <!-- ================================== PROFILE DRAWER =================================== -->

  <div id="profile_drawer" class="profile_drawer_close"></div>

  <!-- ===================================== MAIN BODY ===================================== -->

  <div id="profile_body">
    <div id="profile_navigation_tabs">
      <div id="profile_dashboard_tab" class="profile_navigation_tab">
        <div id="profile_dashboard_tab_text" class="profile_navigation_tab_text">Dashboard</div>
      </div>
      <div id="profile_orders_tab" class="profile_navigation_tab">
        <div id="profile_orders_tab_text" class="profile_navigation_tab_text">Orders</div>
      </div>
      <div id="profile_settings_tab" class="profile_navigation_tab">
        <div id="profile_settings_tab_text" class="profile_navigation_tab_text">Settings</div>
      </div>
    </div>
    <div id="profile_contents_body"></div>
  </div>

  <!-- ====================================== FOOTER ======================================= -->

  <div id="footer">
    <div class="footer_divider">
      <p class="footer_divider_header">Services</p>
      <div id="footer_3d_printing_body" class="footer_content_body footer_services_content_body">
        <a href="/3D-Printing" id="footer_3d_printing" class="footer_content">3D Printing</a>
        <div id="footer_3d_printing_underline" class="footer_content_underline"></div>
      </div>
      <div id="footer_3d_modelling_body" class="footer_content_body footer_services_content_body">
        <a href="/3D-Modelling" id="footer_3d_modelling" class="footer_content">3D Modelling</a>
        <div id="footer_3d_modelling_underline" class="footer_content_underline"></div>
      </div>
      <div id="footer_marketplace_body" class="footer_content_body footer_services_content_body">
        <a href="/Marketplace" id="footer_marketplace" class="footer_content">Marketplace</a>
        <div id="footer_marketplace_underline" class="footer_content_underline"></div>
      </div>
    </div>
    <div class="footer_divider">
      <p class="footer_divider_header">Resources</p>
    </div>
    <div class="footer_divider">
      <p class="footer_divider_header">Company</p>
      <div id="footer_about_us_body" class="footer_content_body footer_about_content_body">
        <a href="/about" id="footer_about_us" class="footer_content">About</a>
        <div id="footer_about_us_underline" class="footer_content_underline"></div>
      </div>
      <div id="footer_contact_us_body" class="footer_content_body footer_about_content_body">
        <a href="/Contact-Us" id="footer_contact_us" class="footer_content">Contact Us</a>
        <div id="footer_contact_us_underline" class="footer_content_underline"></div>
      </div>
    </div>
  </div>
</body>

<style>

</style>

<script>
  /* ================================ INITIALISATION ================================ */

  const profileOrdersPrintsOrdersListInit = () => {
    addProfileOrdersPrintsOrdersListBody();
    addProfileOrdersPrintsOrdersListTableHeader();
    addProfileOrdersPrintsOrdersListContentBody();
    loadProfileOrdersPrintsOrdersListTableContents();
  };

  /* ============================ ORDERS LIST MAIN BODY ============================= */

  const addProfileOrdersPrintsOrdersListBody = () => {
    const profileOrdersPrintsOrdersListBodyHTML =
      "<div id='profile_orders_prints_orders_list_body'></div>";
    document
      .querySelector("#profile_orders_prints_orders_summary_body")
      .insertAdjacentHTML("beforeend", profileOrdersPrintsOrdersListBodyHTML);
  };

  /* ================================ TEST FUNCTIONS ================================ */

  const testPaymentConfirmationDate = orderNumber => {
    $.ajax({
      type: "POST",
      url: "/test/payment-confirmation-date",
      data: JSON.stringify({ orderNumber: orderNumber }),
      contentType: "application/json",
      success: data => {
        console.log(data);
      }
    });
  };

  /* ================================================================================ */
</script>

<script>
  /* ================================= ORDERS LIST ================================== */

  /* --------------------------------- CREATE TABLE --------------------------------- */

  const addProfileOrdersPrintsOrdersListTableHeader = () => {
    const profileOrdersPrintsOrdersListTableHeaderHTML =
      "<div id='profile_orders_prints_orders_list_table_header_main_body'>" +
      "<table class='profile_orders_prints_orders_list_table'>" +
      "<thead id='profile_orders_prints_orders_list_table_header_body'>" +
      "<tr id='profile_orders_prints_orders_list_table_header_row' class='profile_orders_prints_orders_list_table_row'>" +
      "<th id='profile_orders_prints_orders_list_order_number_header' class='profile_orders_prints_orders_list_table_header profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_order_number_content'>Order No.</th>" +
      "<th id='profile_orders_prints_orders_list_creation_date_header' class='profile_orders_prints_orders_list_table_header profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_creation_date_content'>Date of Creation</th>" +
      "<th id='profile_orders_prints_orders_list_status_header' class='profile_orders_prints_orders_list_table_header profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_status_content'>Status</th>" +
      "<th id='profile_orders_prints_orders_list_last_update_header' class='profile_orders_prints_orders_list_table_header profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_update_content'>Last Update</th>" +
      "<th id='profile_orders_prints_orders_list_quantity_header' class='profile_orders_prints_orders_list_table_header profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_quantity_content'>Quantity</th>" +
      "<th id='profile_orders_prints_orders_list_deadline_header' class='profile_orders_prints_orders_list_table_header profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_deadline_content'>Print Deadline</th>" +
      "<th id='profile_orders_prints_orders_list_print_setting_header' class='profile_orders_prints_orders_list_table_header profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_print_setting_content'>Print Setting</th>" +
      "</tr>" +
      "</thead>" +
      "</table>" +
      "</div>";
    document
      .querySelector("#profile_orders_prints_orders_list_body")
      .insertAdjacentHTML(
        "beforeend",
        profileOrdersPrintsOrdersListTableHeaderHTML
      );
  };

  const addProfileOrdersPrintsOrdersListContentBody = () => {
    const profileOrdersPrintsOrdersListContentBodyHTML =
      "<div id='profile_orders_prints_orders_list_table_content_main_body'></div>";
    document
      .querySelector("#profile_orders_prints_orders_list_body")
      .insertAdjacentHTML(
        "beforeend",
        profileOrdersPrintsOrdersListContentBodyHTML
      );
  };

  const loadProfileOrdersPrintsOrdersListTableContents = () => {
    if (
      document.querySelector(
        "#profile_orders_prints_orders_list_table_content_main_body"
      )
    ) {
      document.querySelector(
        "#profile_orders_prints_orders_list_table_content_main_body"
      ).innerHTML = loaderElement;
      $.ajax({
        type: "GET",
        url: "/orders",
        success: data => {
          addProfileOrdersPrintsOrdersListTableContents(data);
        }
      });
    }
  };

  const addProfileOrdersPrintsOrdersListTableContents = objArr => {
    // Table Body
    const profileOrdersPrintsOrdersListTableBodyHTML =
      "<table class='profile_orders_prints_orders_list_table'>" +
      "<tbody id='profile_orders_prints_orders_list_table_content_body'></tbody>" +
      "</table>";
    document.querySelector(
      "#profile_orders_prints_orders_list_table_content_main_body"
    ).innerHTML = profileOrdersPrintsOrdersListTableBodyHTML;
    // Populate the Table with Contents
    objArr.forEach(ele => {
      let totalOrderedQuantity = 0;
      let totalProducedQuantity = 0;
      let deadline = "";

      for (i = 0; i < ele.parts.length; i++) {
        totalOrderedQuantity += Number(ele.parts[i].orderQuantity);
        totalProducedQuantity += Number(ele.parts[i].producedQuantity);
      }

      if (!ele.paymentConfirmationDate) {
        deadline = "---";
      } else {
        const dateObject = dateFormatter(ele.paymentConfirmationDate);
        let numberOfDays;
        switch (ele.pricing) {
          case "Basic":
            numberOfDays = 5;
            break;
          case "Priority":
            numberOfDays = 3;
            break;
          case "Urgent":
            numberOfDays = 1;
            break;
        }
        const deadlineDefaultFormat = moment(ele.paymentConfirmationDate).add(numberOfDays, 'd');
        deadline = dayDateMonthYearFormat(deadlineDefaultFormat._d);
      }

      const creationDate = dayDateMonthYearFormat(ele.creationDate);
      const lastUpdateDate = dateFormatter(ele.lastUpdateDate).fromNow;

      const profileOrdersPrintsOrdersListTableContent =
        "<tr id='profile_orders_prints_order_number_" +
        ele.orderNumber +
        "' class='profile_orders_prints_orders_list_table_row'>" +
        "<td class='profile_orders_prints_orders_list_table_content_text profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_order_number_content'>" +
        ele.orderNumber +
        "</td>" +
        "<td class='profile_orders_prints_orders_list_table_content_text profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_creation_date_content'>" +
        creationDate +
        "</td>" +
        "<td class='profile_orders_prints_orders_list_table_content_text profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_status_content'>" +
        ele.orderStatus +
        "</td>" +
        "<td class='profile_orders_prints_orders_list_table_content_text profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_update_content'>" +
        lastUpdateDate +
        "</td>" +
        "<td class='profile_orders_prints_orders_list_table_content_text profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_quantity_content'>" +
        totalProducedQuantity +
        "/" +
        totalOrderedQuantity +
        "</td>" +
        "<td class='profile_orders_prints_orders_list_table_content_text profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_deadline_content'>" +
        deadline +
        "</td>" +
        "<td class='profile_orders_prints_orders_list_table_content_text profile_orders_prints_orders_list_table_content profile_orders_prints_orders_list_print_setting_content'>" +
        ele.pricing +
        ", " +
        ele.delivery +
        "</td>" +
        "</tr>";
      document
        .querySelector("#profile_orders_prints_orders_list_table_content_body")
        .insertAdjacentHTML(
          "beforeend",
          profileOrdersPrintsOrdersListTableContent
        );
      document
        .querySelector("#profile_orders_prints_order_number_" + ele.orderNumber)
        .addEventListener("click", () => {
          viewOrderDetails(ele.orderNumber);
        });
    });
  };

  /* ============================================================================================== */
</script>

<script>
  /* ======================================== DATE OBJECT ========================================= */

  const dateFormatter = defaultDate => {
    const defaultDateString = defaultDate + "";
    const dateArray = defaultDateString.split(" ");
    let day;
    let month = [];
    const date = dateArray[2];
    const year = dateArray[3];
    const timeArray = dateArray[4].split(":");
    let hour = [];
    const minute = timeArray[1];
    const second = timeArray[2];
    let period;

    switch (dateArray[0]) {
      case "Sun":
        day = "Sunday";
        break;
      case "Mon":
        day = "Monday";
        break;
      case "Tue":
        day = "Tuesday";
        break;
      case "Wed":
        day = "Wednesday";
        break;
      case "Thu":
        day = "Thursday";
        break;
      case "Fri":
        day = "Friday";
        break;
      case "Sat":
        day = "Saturday";
    }

    switch (dateArray[1]) {
      case "Jan":
        month[0] = "January";
        month[1] = "01";
        break;
      case "Feb":
        month[0] = "February";
        month[1] = "02";
        break;
      case "Mar":
        month[0] = "March";
        month[1] = "03";
        break;
      case "Apr":
        month[0] = "April";
        month[1] = "04";
        break;
      case "May":
        month[0] = "May";
        month[1] = "05";
        break;
      case "Jun":
        month[0] = "June";
        month[1] = "06";
        break;
      case "Jul":
        month[0] = "July";
        month[1] = "07";
        break;
      case "Aug":
        month[0] = "August";
        month[1] = "08";
        break;
      case "Sep":
        month[0] = "September";
        month[1] = "09";
        break;
      case "Oct":
        month[0] = "October";
        month[1] = "10";
        break;
      case "Nov":
        month[0] = "November";
        month[1] = "11";
        break;
      case "Dec":
        month[0] = "December";
        month[1] = "12";
    }

    if (timeArray[0] >= "12") {
      if (timeArray[0] == "12") {
        hour[0] = timeArray[0];
      } else {
        hour[0] = Number(timeArray[0]) - 12 + "";
      }
      period = "PM";
    } else {
      hour[0] = timeArray[0];
      period = "AM";
    }

    hour[1] = timeArray[0];

    const dateObject = {
      day: day,
      month: month,
      date: date,
      year: year,
      hour: hour,
      minute: minute,
      second: second,
      period: period,
      fromNow: moment(
        year +
        "-" +
        month[1] +
        "-" +
        date +
        " " +
        timeArray[0] +
        ":" +
        minute +
        ":" +
        second
      ).fromNow()
    };

    return dateObject;
  };

  /* =================================== DAY MONTH YEAR FORMAT ==================================== */

  const dayDateMonthYearFormat = defaultDate => {
    const dateObject = dateFormatter(defaultDate);
    const day = dateObject.day.slice(0, 3);
    const date = dateObject.date;
    const month = dateObject.month[0].slice(0, 3);
    const year = dateObject.year;
    const dayDateMonthYearString = day + ", " + date + " " + month + " " + year;

    return dayDateMonthYearString;
  };

  /* ============================================================================================== */

</script>

</html>