<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Zealand Based 3D Printing Service | Delta 3D Printing</title>
  <meta name="description" content="Delta 3D Printing provides cheap and high-quality 3D printing services and products for people across New Zealand. Benefits and discounts for students and returning customers. Partner With Us! Personalised services and discounts for businesses and organisations partnered with us.">
  <!-- ============================================== EXTERNAL ============================================== -->
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Chivo|Open+Sans|Raleway|Russo+One" rel="stylesheet">
  <!-- Jquery -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
  <!-- Maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRepNytrdQFVYOgxLQP6DrHO6Ovkk8Ocg&libraries=places"
    async defer></script>
  <!-- Moment -->
  <script src="https://gitcdn.link/repo/moment/moment/develop/moment.js"></script>
  <!-- =============================================== GLOBAL =============================================== -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/global.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/global.css">
  <!-- ----------------------------------------------- TOOLS ------------------------------------------------ -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Tools/dateFormatter.js"></script>
  <!-- --------------------------------------------- NAVIGATION --------------------------------------------- -->
  <!-- Navigation: Toolbar -->
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/Toolbar/toolbar.css">
  <!-- Navigation: Navigation Drawer -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/NavigationDrawer/navigationDrawer.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/NavigationDrawer/navigationDrawer.css">
  <!-- Navigation: Profile Drawer -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/profileDrawer.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/profileDrawer.css">
  <!-- Navigation: Profile Drawer: Visitor -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/Visitor/visitor.js"></script>
  <!-- Navigation: Profile Drawer: User -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/User/user.js"></script>
  <!-- Navigation: Footer -->
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/Footer/footer.css">
  <!-- ------------------------------------------- USER INTERFACE ------------------------------------------- -->
  <!-- User Interface: Modal -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Modal/modal.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Modal/modal.css">
  <!-- User Interface: Backdrop -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Backdrop/backdrop.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Backdrop/backdrop.css">
  <!-- User Interface: Loader -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Loader/loader.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Loader/loader.css">
  <!-- ---------------------------------------------- ACCOUNT ----------------------------------------------- -->
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/account.css">
  <!-- Account: Login -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Login/login.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Login/login.css">
  <!-- Account: Profile -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Signup/signup.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Signup/signup.css">
  <!-- ---------------------------------------- ADDRESS AUTOCOMPLETE ---------------------------------------- -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/AddressAutocomplete/addressAutocomplete.js"></script>
  <!-- --------------------------------------------- VALIDATION --------------------------------------------- -->
  <!-- Validation: Login Status -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Validation/LoginStatus/loginStatus.js"></script>
  <!-- --------------------------------------------- NEW ORDER ---------------------------------------------- -->
  <!-- New Order: Order New Print -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/orderNewPrint.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/orderNewPrint.css">
  <!-- New Order: Order New Print: Parts -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/parts.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/parts.css">
  <!-- New Order: Order New Print: Parts: Part -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/part.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/part.css">
  <!-- New Order: Order New Print: Parts: Part: Upload Model -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/UploadModel/uploadModel.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/UploadModel/uploadModel.css">
  <!-- New Order: Order New Print: Parts: Part: Select Material -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/selectMaterial.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/selectMaterial.css">
  <!-- New Order: Order New Print: Parts: Part: Select Material: Material Group -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/MaterialGroup/materialGroup.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/MaterialGroup/materialGroup.css">
  <!-- New Order: Order New Print: Parts: Part: Select Material: Process -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Process/process.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Process/process.css">
  <!-- New Order: Order New Print: Parts: Part: Select Material: Material -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Material/material.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Material/material.css">
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/plastic.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/fdm.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: PLA -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/PLA/pla.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: ABS -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/ABS/abs.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: PETG -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/PETG/petg.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: FLEX -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/FLEX/flex.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic: SLA -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/SLA/sla.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Select Material: Metal -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Metal/metal.js"></script>
  <!-- New Order: Order New Print: Parts: Part: Choose Options -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/chooseOptions.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/chooseOptions.css">
  <!-- New Order: Order New Print: Parts: Part: Choose Options: Material Options -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/MaterialOptions/materialOptions.js"></script>
  <!-- New Order: Order New Print: Global Options -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/GlobalOptions/globalOptions.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/GlobalOptions/globalOptions.css">
  <!-- New Order: Order New Print: Submit New Print Order -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/SubmitNewPrintOrder/submitNewPrintOrder.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/SubmitNewPrintOrder/submitNewPrintOrder.css">
  <!-- ------------------------------------------- ORDER DETAILS -------------------------------------------- -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/orderDetails.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/orderDetails.css">
  <!-- Awaiting Quote -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingQuote/awaitingQuote.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingQuote/awaitingQuote.css">
  <!-- Awaiting Payment -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPayment/awaitingPayment.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPayment/awaitingPayment.css">
  <!-- Order Details: Awaiting Payment Confirmation -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPaymentConfirmation/awaitingPaymentConfirmation.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPaymentConfirmation/awaitingPaymentConfirmation.css">
  <!-- Order Details: Printing Order -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/PrintingOrder/printingOrder.js"></script>
  <!-- =========================================== LOCAL: PROFILE =========================================== -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/profile.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/profile.css">
  <!-- ----------------------------------------- PROFIE: DASHBOARD ------------------------------------------ -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Dashboard/dashboard.js"></script>
  <!-- Profile: Orders -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/orders.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/orders.css">
  <!-- Profile: Orders: Prints -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/prints.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/prints.css">
  <!-- Profile: Orders: Prints: Buttons -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/Buttons/buttons.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/Buttons/buttons.css">
  <!-- Profile: Orders: Print: Order Summary -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/ordersSummary.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/ordersSummary.css">
  <!-- Profile: Orders: Print: Order Summary: Order List -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersList/ordersList.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersList/ordersList.css">
  <!-- Profile: Orders: Print: Order Summary: Order Filter -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersFilter/ordersFilter.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersFilter/ordersFilter.css">
  <!-- Profile: Orders: Marketplace -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Marketplace/marketplace.js"></script>
  <!-- Profile: Settings -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/settings.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/settings.css">
  <!-- Profile: Settings: Profile -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/profile.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/profile.css">
  <!-- Profile: Settings: Profile: Basic Information -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/BasicInformation/basicInformation.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/BasicInformation/basicInformation.css">
  <!-- Profile: Settings: Profile: Address -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/Address/address.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/Address/address.css">
  <!-- Profile: Settings: Profile: Update Profile -->
  <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/UpdateProfile/updateProfile.js"></script>
  <link rel="stylesheet" href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/UpdateProfile/updateProfile.css">
</head>

<body>
  <!-- ====================================== TOOLBAR ====================================== -->

  <div id="toolbar">
    <div id='navigation_drawer_toggle'>
      <div id="navigation_drawer_toggle_bar_1" class="navigation_drawer_toggle_bar"></div>
      <div id="navigation_drawer_toggle_bar_2" class="navigation_drawer_toggle_bar"></div>
      <div id="navigation_drawer_toggle_bar_3" class="navigation_drawer_toggle_bar"></div>
    </div>
    <div id='homepage_logo_container'></div>
    <div id="profile_drawer_toggle">
      <img src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/assets/profile_icon.png" alt="profile_icon"
        id="profile_drawer_icon">
    </div>
  </div>

  <!-- ================================= NAVIGATION DRAWER ================================= -->

  <div id="navigation_drawer" class="navigation_drawer_close">
    <a href="/" class="navigation_link">Home</a href="/">
    <a href="/Services" class="navigation_link">Services</a>
    <a href="/Pricing" class="navigation_link">Pricing</a>
  </div>

  <!-- ================================== PROFILE DRAWER =================================== -->

  <div id="profile_drawer" class="profile_drawer_close"></div>

  <!-- ===================================== MAIN BODY ===================================== -->

  <div id="profile_body">
    <div id="profile_navigation_tabs">
      <div id="profile_dashboard_tab" class="profile_navigation_tab">
        <div id="profile_dashboard_tab_text" class="profile_navigation_tab_text">Dashboard</div>
      </div>
      <div id="profile_orders_tab" class="profile_navigation_tab">
        <div id="profile_orders_tab_text" class="profile_navigation_tab_text">Orders</div>
      </div>
      <div id="profile_settings_tab" class="profile_navigation_tab">
        <div id="profile_settings_tab_text" class="profile_navigation_tab_text">Settings</div>
      </div>
    </div>
    <div id="profile_contents_body"></div>
  </div>

  <!-- ====================================== FOOTER ======================================= -->

  <div id="footer">
    <div class="footer_divider">
      <p class="footer_divider_header">Services</p>
      <div id="footer_3d_printing_body" class="footer_content_body footer_services_content_body">
        <a href="/3D-Printing" id="footer_3d_printing" class="footer_content">3D Printing</a>
        <div id="footer_3d_printing_underline" class="footer_content_underline"></div>
      </div>
      <div id="footer_3d_modelling_body" class="footer_content_body footer_services_content_body">
        <a href="/3D-Modelling" id="footer_3d_modelling" class="footer_content">3D Modelling</a>
        <div id="footer_3d_modelling_underline" class="footer_content_underline"></div>
      </div>
      <div id="footer_marketplace_body" class="footer_content_body footer_services_content_body">
        <a href="/Marketplace" id="footer_marketplace" class="footer_content">Marketplace</a>
        <div id="footer_marketplace_underline" class="footer_content_underline"></div>
      </div>
    </div>
    <div class="footer_divider">
      <p class="footer_divider_header">Resources</p>
    </div>
    <div class="footer_divider">
      <p class="footer_divider_header">Company</p>
      <div id="footer_about_us_body" class="footer_content_body footer_about_content_body">
        <a href="/about" id="footer_about_us" class="footer_content">About</a>
        <div id="footer_about_us_underline" class="footer_content_underline"></div>
      </div>
      <div id="footer_contact_us_body" class="footer_content_body footer_about_content_body">
        <a href="/Contact-Us" id="footer_contact_us" class="footer_content">Contact Us</a>
        <div id="footer_contact_us_underline" class="footer_content_underline"></div>
      </div>
    </div>
  </div>
</body>

<style>
  .order_details_ready_for_pickup_address_body {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 2vmin 0 2vmin 0;
  }

  .order_details_ready_for_pickup_address_text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: "Open Sans", sans-serif;
    font-size: 3.2vmin;
    color: rgb(60, 60, 60);
  }

  .order_details_ready_for_pickup_instruction_body {
    width: 90%;
    display: flex;
    margin: 1vmin 0 1vmin 0;
  }

  .order_details_ready_for_pickup_instruction_number {
    width: 10%;
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 3.2vmin;
    color: rgb(60, 60, 60);
  }

  .order_details_ready_for_pickup_instruction_text {
    width: 90%;
    font-family: "Open Sans", sans-serif;
    font-size: 3.2vmin;
    color: rgb(60, 60, 60);
  }

  /* ======================================== BOOKING FORM ======================================== */

  #ready_for_pickup_booking_form_body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2vmin 0 2vmin 0;
    padding: 0 4vmin 0 4vmin;
  }

  #ready_for_pickup_booking_form_header {
    width: 100%;
  }

  #ready_for_pickup_booking_form_header_text {
    font-family: 'Russo One', sans-serif;
    font-size: 4.4vmin;
    color: rgb(170, 10, 10);
    margin: 2vmin 0 2vmin 0;
  }

  .ready_for_pickup_booking_form_input_field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1vmin 0 1vmin 0;
    padding: 0 4vmin 0 4vmin;
  }

  .ready_for_pickup_booking_form_input_field_header {
    width: 100%;
    margin: 2vmin 0 2vmin 0;
  }

  .ready_for_pickup_booking_form_input_field_header_text {
    font-family: 'Chivo', sans-serif;
    font-size: 4vmin;
    font-weight: bold;
    color: rgb(170, 10, 10);
  }

  .ready_for_pickup_booking_form_input_body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2vmin 0 2vmin 0;
  }

  .ready_for_pickup_booking_form_input_select {
    height: 6vmin;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 250, 250);
    border: solid;
    border-color: rgb(180, 180, 180);
    border-radius: 0.7vmin;
    border-width: 0.35vmin;
    box-shadow: 0 0 1vmin 0.05vmin rgb(200, 200, 200);
    color: rgb(120, 120, 120);
    font-family: "Open Sans", sans-serif;
    font-size: 3vmin;
    font-weight: 700;
  }

  #ready_for_pickup_booking_date_input {
    width: 20%;
  }

  #ready_for_pickup_booking_month_input {
    width: 50%;
  }

  #ready_for_pickup_booking_year_input {
    width: 25%;
  }

  #ready_for_pickup_booking_time_input_field_header {
    width: 30%;
  }

  #ready_for_pickup_booking_time_input_body {
    width: 70%;
  }

  #ready_for_pickup_booking_hour_input {
    width: 35%;
  }

  #ready_for_pickup_booking_minute_input {
    width: 35%;
  }

  #ready_for_pickup_booking_period_input {
    width: 25%;

  }

  /* ========================================= DESKTOP CSS ======================================== */

  @media only screen and (min-width: 600px) {
    .order_details_ready_for_pickup_address_body {
      margin: 1vmin 0 1vmin 0;
    }

    .order_details_ready_for_pickup_address_text {
      font-size: 1.6vmin;
    }

    .order_details_ready_for_pickup_instruction_body {
      margin: 0.5vmin 0 0.5vmin 0;
    }

    .order_details_ready_for_pickup_instruction_number {
      font-size: 1.6vmin;
    }

    .order_details_ready_for_pickup_instruction_text {
      font-size: 1.6vmin;
    }
  }
</style>

<script>
  /* ======================================= INITIALISATION ======================================= */

  const readyForPickupInit = order => {
    const orderStatusId = order.orderStatus.toLowerCase().replace(/ /g, "_");
    constructOrderDetailsReadyForPickupModal(order, orderStatusId);
    constructHTMLStructure(orderStatusId);
    orderStatusDescriptionBodyTabs(orderStatusId, order.delivery);
    orderStatusDescriptionBodyHeader(order.orderStatus, orderStatusId);
    constructOrderDetailsOrderOptionsDetails(order, orderStatusId);
    constructOrderDetailsAttachments(order, orderStatusId);
    constructOrderDetailsComments(order, orderStatusId);
    readyForPickupDescriptionBodyDetails();
  };

  /* =========================================== MODAL ============================================ */

  const constructOrderDetailsReadyForPickupModal = (
    order,
    orderStatusId
  ) => {
    // ELEMENTS
    const orderDetailsReadyForPickupModalHeader = orderDetailsModalHeader;
    const orderDetailsReadyForPickupModalFooter =
      "<div class='order_details_footer_buttons_body'>" +
      "<div class='order_details_footer_button'>" +
      "<div class='order_details_footer_button_text'>Request Refund</div>" +
      "</div>" +
      "</div>";
    const orderDetailsReadyForPickupModalElementObject = new modalElementObject(
      orderStatusId,
      orderDetailsReadyForPickupModalHeader,
      orderDetailsReadyForPickupModalFooter
    );
    // CSS
    const orderDetailsReadyForPickupModalMobileHeight = 90;
    const orderDetailsReadyForPickupModalMobileWidth = 90;
    const orderDetailsReadyForPickupModalDesktopHeight = 90;
    const orderDetailsReadyForPickupModalDesktopWidth = 60;
    const orderDetailsReadyForPickupModalFooterHeight = 14;
    const orderDetailsReadyForPickupModalCSSObject = new modalCSSObject(
      orderDetailsReadyForPickupModalMobileHeight,
      orderDetailsReadyForPickupModalMobileWidth,
      orderDetailsReadyForPickupModalDesktopHeight,
      orderDetailsReadyForPickupModalDesktopWidth,
      orderDetailsReadyForPickupModalFooterHeight
    );

    addModal(
      orderDetailsReadyForPickupModalElementObject,
      orderDetailsReadyForPickupModalCSSObject
    );
  };

  /* ========================== CONSTRUCT ORDER STATUS DESCRIPTION BODY =========================== */

  const readyForPickupDescriptionBodyDetails = () => {
    const instructionOne = "Book a pickup time using the form below";
    const instructionTwo = "Send a text to <strong>+64 211 543 805</strong> before heading to the pickup destination (before you leave your place)";
    const instructionThree = "Send a text upon arrival on the pickup destination, and enter through the garage upon opening";

    const orderStatusDescriptionBodyDetailsHTML =
      "<div class='order_status_description_details_body'>" +
      "<div class='order_status_description_details_text'>" +
      "We have finished printing your order! You can now pickup your order at:" +
      "</div>" +
      "</div>" +
      "<div class='order_details_ready_for_pickup_address_body'>" +
      "<div class='order_details_ready_for_pickup_address_text'>" +
      "16 Dapple Place," +
      "</div>" +
      "<div class='order_details_ready_for_pickup_address_text'>" +
      "Flat Bush," +
      "</div>" +
      "<div class='order_details_ready_for_pickup_address_text'>" +
      "Auckland, 2019," +
      "</div>" +
      "<div class='order_details_ready_for_pickup_address_text'>" +
      "New Zealand," +
      "</div>" +
      "</div>" +
      "<div class='order_status_description_details_body'>" +
      "<div class='order_status_description_details_text'>" +
      "Please Follow the instructions below:" +
      "</div>" +
      "</div>" +
      "<div class='order_details_ready_for_pickup_instruction_body'>" +
      "<div class='order_details_ready_for_pickup_instruction_number'>" +
      "1." +
      "</div>" +
      "<div class='order_details_ready_for_pickup_instruction_text'>" +
      instructionOne +
      "</div>" +
      "</div>" +
      "<div class='order_details_ready_for_pickup_instruction_body'>" +
      "<div class='order_details_ready_for_pickup_instruction_number'>" +
      "2." +
      "</div>" +
      "<div class='order_details_ready_for_pickup_instruction_text'>" +
      instructionTwo +
      "</div>" +
      "</div>" +
      "<div class='order_details_ready_for_pickup_instruction_body'>" +
      "<div class='order_details_ready_for_pickup_instruction_number'>" +
      "3." +
      "</div>" +
      "<div class='order_details_ready_for_pickup_instruction_text'>" +
      instructionThree +
      "</div>" +
      "</div>";

    document
      .querySelector(
        "#ready_for_pickup_order_status_description_body"
      )
      .insertAdjacentHTML("beforeend", orderStatusDescriptionBodyDetailsHTML);

    constructReadyForPickupBookingForm();
  };

  /* ==================================== PICKUP BOOKING FORM ===================================== */

  const constructReadyForPickupBookingForm = () => {
    const readyForPickupBookingFormHTML =
      "<div id='ready_for_pickup_booking_form_body'>" +
      "<div id='ready_for_pickup_booking_form_header'>" +
      "<div id='ready_for_pickup_booking_form_header_text'>" +
      "Booking Form:" +
      "</div>" +
      "</div>" +
      "<div class='ready_for_pickup_booking_form_input_field'>" +
      "<div class='ready_for_pickup_booking_form_input_field_header'>" +
      "<div class='ready_for_pickup_booking_form_input_field_header_text'>Date:</div>" +
      "</div>" +
      "<div class='ready_for_pickup_booking_form_input_body'>" +
      "<select id='ready_for_pickup_booking_date_input' class='ready_for_pickup_booking_form_input_select'>" +
      "<option value='empty'></option>" +
      "</select>" +
      "<select id='ready_for_pickup_booking_month_input' class='ready_for_pickup_booking_form_input_select'>" +
      "<option value='empty'></option>" +
      "</select>" +
      "<select id='ready_for_pickup_booking_year_input' class='ready_for_pickup_booking_form_input_select'>" +
      "<option value='empty'></option>" +
      "</select>" +
      "</div>" +
      "</div>" +
      "<div class='ready_for_pickup_booking_form_input_field'>" +
      "<div id='ready_for_pickup_booking_time_input_field_header' class='ready_for_pickup_booking_form_input_field_header'>" +
      "<div class='ready_for_pickup_booking_form_input_field_header_text'>Time:</div>" +
      "</div>" +
      "<div id='ready_for_pickup_booking_time_input_body' class='ready_for_pickup_booking_form_input_body'>" +
      "<select id='ready_for_pickup_booking_hour_input' class='ready_for_pickup_booking_form_input_select'>" +
      "<option value='empty'></option>" +
      "</select>" +
      "<select id='ready_for_pickup_booking_minute_input' class='ready_for_pickup_booking_form_input_select'>" +
      "<option value='empty'></option>" +
      "</select>" +
      "<select id='ready_for_pickup_booking_period_input' class='ready_for_pickup_booking_form_input_select'>" +
      "<option value='empty'></option>" +
      "</select>" +
      "</div>" +
      "</div>" +
      "</div>";

    document
      .querySelector(
        "#ready_for_pickup_order_status_description_body"
      )
      .insertAdjacentHTML("beforeend", readyForPickupBookingFormHTML);

    pickupDateSelectOptions(document.querySelector("#ready_for_pickup_booking_date_input"), document.querySelector("#ready_for_pickup_booking_month_input"), document.querySelector("#ready_for_pickup_booking_year_input"));

    pickupTimeSelectOptions(document.querySelector("#ready_for_pickup_booking_hour_input"), document.querySelector("#ready_for_pickup_booking_minute_input"), document.querySelector("#ready_for_pickup_booking_period_input"));
  }

  /* ============================================================================================== */

  const pickupDateSelectOptions = (dateSelectElement, monthSelectElement, yearSelectMonth) => {
    const dateObject = dateFormatter(new Date());
    let dateArray = [];
    const monthArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    let yearArray = [];

    for (i = 0; i < 31; i++) {
      dateArray[i] = i + 1;
    }

    for (i = 0; i < 2; i++) {
      yearArray[i] = Number(dateObject.year) + i;
    }

    dateArray.forEach(element => {
      const optionHTML = "<option value=" + element + ">" + element + "</option>";

      dateSelectElement.insertAdjacentHTML("beforeend", optionHTML);
    });

    monthArray.forEach(element => {
      const optionHTML = "<option value=" + element + ">" + element + "</option>";

      monthSelectElement.insertAdjacentHTML("beforeend", optionHTML);
    });

    yearArray.forEach(element => {
      const optionHTML = "<option value=" + element + ">" + element + "</option>";

      yearSelectMonth.insertAdjacentHTML("beforeend", optionHTML);
    });
  }

  const pickupTimeSelectOptions = (hourSelectElement, minuteSelectElement, periodSelectMonth) => {
    let hourArray = [];
    let minuteArray = [];
    const periodArray = ["AM", "PM"];

    for (i = 0; i < 12; i++) {
      hourArray[i] = i + 1;
    }

    for (i = 0; i < 12; i++) {
      minuteArray[i] = i * 5;
    }

    hourArray.forEach(element => {
      const optionHTML = "<option value=" + element + ">" + element + "</option>";

      hourSelectElement.insertAdjacentHTML("beforeend", optionHTML);
    });

    minuteArray.forEach(element => {
      const optionHTML = "<option value=" + element + ">" + element + "</option>";

      minuteSelectElement.insertAdjacentHTML("beforeend", optionHTML);
    });

    periodArray.forEach(element => {
      const optionHTML = "<option value=" + element + ">" + element + "</option>";

      periodSelectMonth.insertAdjacentHTML("beforeend", optionHTML);
    });
  }

  /* ============================================================================================== */
</script>

<script>
  /* ================================ TEST FUNCTIONS ================================ */

  const testPaymentConfirmationDate = orderNumber => {
    $.ajax({
      type: "POST",
      url: "/test/payment-confirmation-date",
      data: JSON.stringify({ orderNumber: orderNumber }),
      contentType: "application/json",
      success: data => {
        console.log(data);
      }
    });
  };

  /* ================================================================================ */
</script>

</html>