<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Zealand Based 3D Printing Service | Delta 3D Printing</title>
    <meta
      name="description"
      content="Delta 3D Printing provides cheap and high-quality 3D printing services and products for people across New Zealand. Benefits and discounts for students and returning customers. Partner With Us! Personalised services and discounts for businesses and organisations partnered with us."
    />
    <!--
      ============================================== EXTERNAL ==============================================
    -->
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Chivo|Open+Sans|Raleway|Russo+One"
      rel="stylesheet"
    />
    <!-- Jquery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
    <!-- Maps API -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRepNytrdQFVYOgxLQP6DrHO6Ovkk8Ocg&libraries=places"
      async
      defer
    ></script>
    <!-- Moment -->
    <script src="https://gitcdn.link/repo/moment/moment/develop/moment.js"></script>
    <!-- ============================= GLOBAL ============================== -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/global.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/global.css"
    />
    <!-- ------------------------------ TOOLS ------------------------------ -->
    <!-- PRICE: Printing Service -->

    <!-- DATE -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Tools/date.js"></script>
    <!-- Display Message -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Tools/displayMessage.js"></script>
    <!--
      --------------------------------------------- NAVIGATION ---------------------------------------------
    -->
    <!-- Navigation: Toolbar -->
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/Toolbar/toolbar.css"
    />
    <!-- Navigation: Navigation Drawer -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/NavigationDrawer/navigationDrawer.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/NavigationDrawer/navigationDrawer.css"
    />
    <!-- Navigation: Profile Drawer -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/profileDrawer.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/profileDrawer.css"
    />
    <!-- Navigation: Profile Drawer: Visitor -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/Visitor/visitor.js"></script>
    <!-- Navigation: Profile Drawer: User -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/User/user.js"></script>
    <!-- Navigation: Footer -->
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/Footer/footer.css"
    />
    <!--
      ------------------------------------------- USER INTERFACE -------------------------------------------
    -->
    <!-- User Interface: Modal -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Modal/modal.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Modal/modal.css"
    />
    <!-- User Interface: Backdrop -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Backdrop/backdrop.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Backdrop/backdrop.css"
    />
    <!-- User Interface: Loader -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Loader/loader.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Loader/loader.css"
    />
    <!--
      ---------------------------------------------- ACCOUNT -----------------------------------------------
    -->
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/account.css"
    />
    <!-- Account: Login -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Login/login.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Login/login.css"
    />
    <!-- Account: Profile -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Signup/signup.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Signup/signup.css"
    />
    <!--
      ---------------------------------------- ADDRESS AUTOCOMPLETE ----------------------------------------
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/AddressAutocomplete/addressAutocomplete.js"></script>
    <!--
      --------------------------------------------- VALIDATION ---------------------------------------------
    -->
    <!-- Validation: Login Status -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Validation/LoginStatus/loginStatus.js"></script>
    <!--
      --------------------------------------------- NEW ORDER ----------------------------------------------
    -->
    <!-- New Order: Order New Print -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/orderNewPrint.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/orderNewPrint.css"
    />
    <!-- New Order: Order New Print: Parts -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/parts.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/parts.css"
    />
    <!-- New Order: Order New Print: Parts: Part -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/part.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/part.css"
    />
    <!-- New Order: Order New Print: Parts: Part: Upload Model -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/UploadModel/uploadModel.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/UploadModel/uploadModel.css"
    />
    <!-- New Order: Order New Print: Parts: Part: Select Material -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/selectMaterial.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/selectMaterial.css"
    />
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Material Group
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/MaterialGroup/materialGroup.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/MaterialGroup/materialGroup.css"
    />
    <!-- New Order: Order New Print: Parts: Part: Select Material: Process -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Process/process.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Process/process.css"
    />
    <!-- New Order: Order New Print: Parts: Part: Select Material: Material -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Material/material.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Material/material.css"
    />
    <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/plastic.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/fdm.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: PLA
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/PLA/pla.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: ABS
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/ABS/abs.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: PETG
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/PETG/petg.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: FLEX
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/FLEX/flex.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: SLA
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/SLA/sla.js"></script>
    <!-- New Order: Order New Print: Parts: Part: Select Material: Metal -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Metal/metal.js"></script>
    <!-- New Order: Order New Print: Parts: Part: Choose Options -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/chooseOptions.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/chooseOptions.css"
    />
    <!--
      New Order: Order New Print: Parts: Part: Choose Options: Material Options
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/MaterialOptions/materialOptions.js"></script>
    <!-- New Order: Order New Print: Global Options -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/GlobalOptions/globalOptions.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/GlobalOptions/globalOptions.css"
    />
    <!-- New Order: Order New Print: Submit New Print Order -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/SubmitNewPrintOrder/submitNewPrintOrder.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/NewOrder/OrderNewPrint/SubmitNewPrintOrder/submitNewPrintOrder.css"
    />
    <!--
      ------------------------------------------- ORDER DETAILS --------------------------------------------
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/orderDetails.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/orderDetails.css"
    />
    <!-- Parts and Pricing -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/PartsAndPricing/partAndPricing.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/PartsAndPricing/partAndPricing.css"
    />
    <!-- Comments -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/Comments/comments.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/Comments/comments.css"
    />
    <!-- Request Refund -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/RequestRefund/requestRefund.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/RequestRefund/requestRefund.css"
    />
    <!-- Order Details: Awaiting Quote -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingQuote/awaitingQuote.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingQuote/awaitingQuote.css"
    />
    <!-- Order Details: Awaiting Payment -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPayment/awaitingPayment.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPayment/awaitingPayment.css"
    />
    <!-- Order Details: Awaiting Payment Confirmation -->

    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPaymentConfirmation/awaitingPaymentConfirmation.js"></script>

    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/AwaitingPaymentConfirmation/awaitingPaymentConfirmation.css"
    />
    <!-- Order Details: Printing Order -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/PrintingOrder/printingOrder.js"></script>
    <!-- Order Details: Ready for Pickup -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/ReadyForPickup/readyForPickup.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/ReadyForPickup/readyForPickup.css"
    />
    <!-- Order Details: Order Picked Up -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/OrderPickedUp/orderPickedUp.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/OrderPickedUp/orderPickedUp.css"
    />
    <!-- Order Details: Ready for Shipping -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/ReadyForShipping/readyForShipping.js"></script>
    <!-- Order Details: Order Shipped -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/OrderShipped/orderShipped.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/OrderShipped/orderShipped.css"
    />
    <!-- Order Details: Requesting Refund -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/RequestingRefund/requestingRefund.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/RequestingRefund/requestingRefund.css"
    />
    <!-- Order Details: Refund Declined -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/RefundDeclined/refundDeclined.js"></script>
    <!-- Order Details: Refund Approved -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/RefundApproved/refundApproved.js"></script>
    <!-- Order Details: Refund Processed -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/OrderDetails/RefundProcessed/refundProcessed.js"></script>
    <!--
      =========================================== LOCAL: PROFILE ===========================================
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/profile.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/profile.css"
    />
    <!--
      ----------------------------------------- PROFIE: DASHBOARD ------------------------------------------
    -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Dashboard/dashboard.js"></script>
    <!-- Profile: Orders -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/orders.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/orders.css"
    />
    <!-- Profile: Orders: Prints -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/prints.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/prints.css"
    />
    <!-- Profile: Orders: Prints: Buttons -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/Buttons/buttons.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/Buttons/buttons.css"
    />
    <!-- Profile: Orders: Print: Order Summary -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/ordersSummary.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/ordersSummary.css"
    />
    <!-- Profile: Orders: Print: Order Summary: Order List -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersList/ordersList.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersList/ordersList.css"
    />
    <!-- Profile: Orders: Print: Order Summary: Order Filter -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersFilter/ordersFilter.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Prints/OrdersSummary/OrdersFilter/ordersFilter.css"
    />
    <!-- Profile: Orders: Marketplace -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Orders/Marketplace/marketplace.js"></script>
    <!-- Profile: Settings -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/settings.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/settings.css"
    />
    <!-- Profile: Settings: Profile -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/profile.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/profile.css"
    />
    <!-- Profile: Settings: Profile: Basic Information -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/BasicInformation/basicInformation.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/BasicInformation/basicInformation.css"
    />
    <!-- Profile: Settings: Profile: Address -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/Address/address.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/Address/address.css"
    />
    <!-- Profile: Settings: Profile: Update Profile -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/UpdateProfile/updateProfile.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Profile/Settings/Profile/UpdateProfile/updateProfile.css"
    />
  </head>

  <body>
    <!-- ============================ TOOLBAR ============================= -->

    <div id="toolbar">
      <div id="navigation_drawer_toggle">
        <div
          id="navigation_drawer_toggle_bar_1"
          class="navigation_drawer_toggle_bar"
        ></div>
        <div
          id="navigation_drawer_toggle_bar_2"
          class="navigation_drawer_toggle_bar"
        ></div>
        <div
          id="navigation_drawer_toggle_bar_3"
          class="navigation_drawer_toggle_bar"
        ></div>
      </div>
      <div id="homepage_logo_container"></div>
      <div id="profile_drawer_toggle">
        <img
          src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/assets/profile_icon.png"
          alt="profile_icon"
          id="profile_drawer_icon"
        />
      </div>
    </div>

    <!-- ======================= NAVIGATION DRAWER ======================== -->

    <div id="navigation_drawer" class="navigation_drawer_close">
      <a href="/" class="navigation_link">Home</a>
      <a href="/services" class="navigation_link">Services</a>
      <a href="/pricing" class="navigation_link">Pricing</a>
      <a href="/partnership" class="navigation_link">Partnership</a>
    </div>

    <!-- ========================= PROFILE DRAWER ========================= -->

    <div id="profile_drawer" class="profile_drawer_close"></div>

    <!-- =========================== MAIN BODY ============================ -->

    <div id="profile_body">
      <div id="profile_navigation_tabs">
        <div id="profile_dashboard_tab" class="profile_navigation_tab">
          <div
            id="profile_dashboard_tab_text"
            class="profile_navigation_tab_text"
          >
            Dashboard
          </div>
        </div>
        <div id="profile_orders_tab" class="profile_navigation_tab">
          <div id="profile_orders_tab_text" class="profile_navigation_tab_text">
            Orders
          </div>
        </div>
        <div id="profile_settings_tab" class="profile_navigation_tab">
          <div
            id="profile_settings_tab_text"
            class="profile_navigation_tab_text"
          >
            Settings
          </div>
        </div>
      </div>
      <div id="profile_contents_body"></div>
    </div>

    <!-- ============================= FOOTER ============================= -->

    <div id="footer">
      <div class="footer_divider">
        <p class="footer_divider_header">Services</p>
        <div
          id="footer_3d_printing_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/3d-printing"
            id="footer_3d_printing"
            class="footer_content"
            >3D Printing</a
          >
        </div>
        <div
          id="footer_3d_modelling_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/3d-modelling"
            id="footer_3d_modelling"
            class="footer_content"
            >3D Modelling</a
          >
        </div>
        <div
          id="footer_marketplace_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/marketplace"
            id="footer_marketplace"
            class="footer_content"
            >Marketplace</a
          >
        </div>
      </div>
      <div class="footer_divider">
        <p class="footer_divider_header">Resources</p>
      </div>
      <div class="footer_divider">
        <p class="footer_divider_header">Delta 3D Printing</p>
        <div
          id="footer_about_us_body"
          class="footer_content_body footer_about_us_content_body"
        >
          <a href="/about" id="footer_about_us" class="footer_content">About</a>
        </div>
        <div
          id="footer_contact_us_body"
          class="footer_content_body footer_about_us_content_body"
        >
          <a href="/contact-us" id="footer_contact_us" class="footer_content"
            >Contact Us</a
          >
        </div>
        <div
          id="footer_partnership_body"
          class="footer_content_body footer_about_content_body"
        >
          <a href="/partnership" id="footer_partnership" class="footer_content"
            >Partnership Program</a
          >
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  /* =================================== CUMULATIVE ORDER VALUE =================================== */

  const cumulativeOrderValueByDateRange = (startDate, endDate) => {};

  const cumulativeOrderValueByOrderStatus = orderStatus => {};

  const cumulativeOrderValueByOrderStatusAndDateRange = (
    orderStatus,
    startDate,
    endDate
  ) => {
    return new Promise((resolve, reject) => {
      getOrderDetailsArrayByOrderStatus(orderStatus)
        .then(orderDetailsArray => {
          let filteredOrderDetailsArray = [];

          for (let i = 0; i < orderDetailsArray.length; i++) {
            let date;
            if (orderStatus == "Awaiting Quote") {
              date = orderDetailsArray[i].creationDate;
            } else if (orderStatus == "Awaiting Payment") {
              date = orderDetailsArray[i].creationDate;
            } else if (orderStatus == "Awaiting Payment Confirmation") {
              date = orderDetailsArray[i].creationDate;
            } else if (orderStatus == "Printing Order") {
              date = orderDetailsArray[i].paymentConfirmationDate;
            } else if (orderStatus == "Ready for Pickup") {
              date = orderDetailsArray[i].paymentConfirmationDate;
            } else if (orderStatus == "Order Picked Up") {
              date = orderDetailsArray[i].orderDeliveryDate;
            } else if (orderStatus == "Ready for Shipping") {
              date = orderDetailsArray[i].paymentConfirmationDate;
            } else if (orderStatus == "Order Shipped") {
              date = orderDetailsArray[i].orderDeliveryDate;
            } else if (data.orderStatus == "Order Completed") {
              date = orderDetailsArray[i].orderCompletionDate;
            } else if (data.orderStatus == "Requesting Refund") {
              date = orderDetailsArray[i].creationDate;
            } else if (data.orderStatus == "Refund Approved") {
              date = orderDetailsArray[i].processDate;
            } else if (data.orderStatus == "Refund Declined") {
              date = orderDetailsArray[i].processDate;
            } else if (data.orderStatus == "Refund Processed") {
              date = orderDetailsArray[i].processDate;
            }

            if (isDateWithinRange(date, startDate, endDate)) {
            }
          }
        })
        .catch(error => reject(error));
    });
  };
</script>

<script>
  /* ==================================== IS DATE WITHIN RANGE ==================================== */

  const isDateWithinRange = (date, startDate, endDate) => {
    const dateObject = dateFormatter(date);
    const momentDate = moment([
      Number(dateObject.year),
      Number(dateObject.month[1]),
      Number(dateObject.date)
    ]);
    const startDateObject = dateFormatter(startDate);
    const momentStartDate = moment([
      Number(startDateObject.year),
      Number(startDateObject.month[1]),
      Number(startDateObject.date)
    ]);
    const endDateObject = dateFormatter(endDate);
    const momentEndDate = moment([
      Number(endDateObject.year),
      Number(endDateObject.month[1]),
      Number(endDateObject.date)
    ]);

    // Positive means date is over the start date
    const startDateDifference = momentDate.diff(momentStartDate, "days");
    // Positive means date is under the end date
    const endDateDifference = momentEndDate.diff(momentDate, "days");

    if (startDateDifference >= 0 && endDateDifference >= 0) {
      return true;
    } else {
      return false;
    }
  };

  /* ============================= GET LAST MONTH START AND END DATES ============================= */

  const getLastMonthStartAndEndDates = () => {
    return new Promise((resolve, reject) => {
      const startDateOfPreviousMonth = moment()
        .startOf("month")
        .subtract(1, "days")
        .startOf("month")._d;

      const endDateOfPreviousMonth = moment()
        .startOf("month")
        .subtract(1, "days")._d;

      resolve({
        startDate: startDateOfPreviousMonth,
        endDate: endDateOfPreviousMonth
      });
    });
  };

  /* =========================== NUMBER TO TWO DECIMAL STRING CONVERTER =========================== */

  const numberToTwoDecimalStringConverter = number => {
    number = Number(number);
    let numberOfDecimalPlaces;

    if (number % 1 == 0) {
      numberOfDecimalPlaces = 0;
    } else {
      numberOfDecimalPlaces = number.toString().split(".")[1].length;
    }

    let twoDecimalString;

    if (numberOfDecimalPlaces == 0) {
      twoDecimalString = number + ".00";
    } else if (numberOfDecimalPlaces == 1) {
      twoDecimalString = number + "0";
    } else if (numberOfDecimalPlaces == 2) {
      twoDecimalString = number.toString();
    } else if (numberOfDecimalPlaces > 2) {
      twoDecimalString = number.toFixed(2).toString();
    }

    return twoDecimalString;
  };

  /* ==================================== FILE NAME FORMATTER ==================================== */

  const fileNameToNameFormatter = (fileName, numberOfCharacters) => {
    const fileExtensionPosition = fileName.indexOf(".");
    const extensionlessFileName = fileName.slice(0, fileExtensionPosition);
    const fileNameCharacterLength = extensionlessFileName.length;
    const numberOfAlphanumeric = numberOfCharacters - 3;
    let firstNameAlphanumericLength;
    let lastNameAlphanumericLength;
    let firstName;
    let lastName;
    let formattedFileName;

    if (numberOfAlphanumeric % 2 == 1) {
      firstNameAlphanumericLength = Math.floor(numberOfAlphanumeric / 2) + 1;
      lastNameAlphanumericLength = Math.floor(numberOfAlphanumeric / 2);
    } else {
      firstNameAlphanumericLength = numberOfAlphanumeric / 2;
      lastNameAlphanumericLength = numberOfAlphanumeric / 2;
    }

    if (fileNameCharacterLength > numberOfCharacters) {
      firstName = extensionlessFileName.slice(0, firstNameAlphanumericLength);
      lastName = extensionlessFileName.slice(
        fileNameCharacterLength - lastNameAlphanumericLength,
        fileNameCharacterLength
      );
      formattedFileName = firstName + "..." + lastName;
    } else {
      formattedFileName = extensionlessFileName;
    }

    return formattedFileName;
  };

  /* ================================== GET PART'S FILE DETAILS =================================== */

  const getFileDetails = fileId => {
    let fileDetails;

    $.ajax({
      type: "POST",
      async: false,
      url: "/file/get-file-details/file-id",
      contentType: "application/json",
      data: JSON.stringify({ fileId }),
      success: data => {
        fileDetails = data;
      }
    });

    return fileDetails;
  };

  /* ============================= GET ORDER DETAILS BY ORDER NUMBER ============================== */

  const getOrderDetailsByOrderNumber = orderNumber => {
    return new Promise((resolve, reject) => {
      $.ajax({
        type: "POST",
        url: "/order/get-order-details-by-order-number",
        contentType: "application/json",
        data: JSON.stringify({ orderNumber }),
        success: data => {
          if (data.status === "failed") {
            reject(data.error);
          } else if (data.status === "success") {
            resolve(data.orderDetails);
          }
        }
      });
    });
  };

  /* ========================== GET ORDER DETAILS ARRAY BY ORDER STATUS =========================== */

  const getOrderDetailsArrayByOrderStatus = orderStatus => {
    return new Promise((resolve, reject) => {
      $.ajax({
        type: "POST",
        url: "/order/get-order-details-array-by-order-status",
        contentType: "application/json",
        data: JSON.stringify({ orderStatus }),
        success: data => {
          if (data.status === "failed") {
            reject(data.error);
          } else if (data.status === "success") {
            resolve(data.orderDetailsArray);
          }
        }
      });
    });
  };

  /* ============================================================================================== */
</script>

<script>
  /* ========================================= PART PRICE ========================================= */

  /* --------------------------------------- GET PART PRICE --------------------------------------- */

  const getPartPrice = orderNumber => {
    return new Promise((resolve, reject) => {
      getOrderDetailsByOrderNumber(orderNumber).then(orderDetails => {
        partPriceCalculation(orderDetails)
          .then(orderPriceObject => {
            resolve(orderPriceObject);
          })
          .catch(error => {
            reject(error);
          });
      });
    });
  };

  /* ----------------------------------- PART PRICE CALCULATION ----------------------------------- */

  const partPriceCalculation = orderDetails => {
    return new Promise((resolve, reject) => {
      /* -------------------------------- DECLARE LOCAL VARIABLES --------------------------------- */
      let partPriceObjectArray = [];
      let totalPrice = 0;
      let calculation = "";
      // Simplify parts variable
      const parts = orderDetails.parts;

      // Create the Part Price Object for each Part
      for (let i = 0; i < parts.length; i++) {
        // Get File Details of the Part
        const fileDetails = getFileDetails(parts[i].fileId);
        // Construct Part Price Object
        const partPriceObject = new PartPriceObject(
          parts[i].fileName,
          parts[i].orderQuantity,
          fileDetails.fileDetail.price
        );
        // Add the Part Price Object to the an Array
        partPriceObjectArray.push(partPriceObject);
        // Calculate the collective price of all the parts
        totalPrice = totalPrice + Number(partPriceObject.totalPrice);
        // Construct the calculation string to show how the total price is calculated
        if (i == 0) {
          calculation +=
            "$" +
            numberToTwoDecimalStringConverter(
              Number(partPriceObject.totalPrice)
            );
        } else if (i == parts.length - 1) {
          calculation +=
            " + $" +
            numberToTwoDecimalStringConverter(
              Number(partPriceObject.totalPrice)
            ) +
            " = " +
            numberToTwoDecimalStringConverter(Number(totalPrice));
        } else {
          calculation +=
            " + $" +
            numberToTwoDecimalStringConverter(
              Number(partPriceObject.totalPrice)
            );
        }
      }
      // Construct the Parts Price Object
      const partsPriceObject = new PartsPriceObject(
        partPriceObjectArray,
        totalPrice,
        calculation
      );

      // Resolve the promise by returning the
      resolve(partsPriceObject);
    });
  };

  /* ------------------------------- PART PRICE OBJECT CONSTRUCTOR -------------------------------- */

  class PartPriceObject {
    constructor(name, unitPrice, quantity) {
      this.name = name;
      this.quantity = quantity;
      this.unitPrice = unitPrice;
      this.totalPrice = Number(unitPrice) * Number(quantity);
      this.calculation =
        quantity +
        " x $" +
        numberToTwoDecimalStringConverter(unitPrice) +
        " = $" +
        numberToTwoDecimalStringConverter(Number(unitPrice) * Number(quantity));
    }
  }

  /* ------------------------------- PARTS PRICE OBJECT CONSTRUCTOR ------------------------------- */

  class PartsPriceObject {
    constructor(partPriceObjectArray, totalPrice, calculation) {
      this.partPriceObjectArray = partPriceObjectArray;
      this.totalPrice = totalPrice;
      this.calculation = calculation;
    }
  }

  /* ======================================= PRICING PRICE ======================================== */

  /* ------------------------------------- GET PRICING PRICE -------------------------------------- */

  const getPricingPrice = orderNumber => {
    return new Promise((resolve, reject) => {
      getOrderDetailsByOrderNumber(orderNumber).then(orderDetails => {
        pricingPriceCalculation(orderDetails)
          .then(orderPriceObject => {
            resolve(orderPriceObject);
          })
          .catch(error => {
            reject(error);
          });
      });
    });
  };

  /* --------------------------------- PRICING PRICE CALCULATION ---------------------------------- */

  const pricingPriceCalculation = orderDetails => {
    return new Promise((resolve, reject) => {
      /* ----------------------------- GET THE PARTS PRICING DETAILS ------------------------------ */
      partPriceCalculation(orderDetails)
        .then(partsPriceObject => {
          /* ---------------------------- DECLARE LOCAL VARIABLES ----------------------------- */
          let pricing;
          let pricingMultiplier;
          let pricingPrice;
          let calculation;
          /* ---------------------------- DEFINE VARIABLE: PRICING ---------------------------- */
          pricing = orderDetails.pricing;
          /* ---------------------- DEFINE VARIABLE: PRICING MULTIPLIER ----------------------- */
          if (orderDetails.pricing == "Basic") {
            pricingMultiplier = 0;
          } else if (orderDetails.pricing == "Priority") {
            pricingMultiplier = 0.25;
          } else if (orderDetails.pricing == "Urgent") {
            pricingMultiplier = 0.5;
          }
          /* ------------------------- DEFINE VARIABLE: PRICING PRICE ------------------------- */
          pricingPrice =
            Number(partsPriceObject.totalPrice) * pricingMultiplier;
          /* -------------------------- DEFINE VARIABLE: CALCULATION -------------------------- */
          calculation =
            "$" +
            numberToTwoDecimalStringConverter(
              Number(partsPriceObject.totalPrice)
            ) +
            " x " +
            pricingMultiplier +
            " = $" +
            numberToTwoDecimalStringConverter(pricingPrice);
          /* --------------------- DEFINE VARIABLE: PRICING PRICE OBJECT ---------------------- */
          const pricingPriceObject = new PricingPriceObject(
            orderDetails.pricing,
            pricingPrice,
            calculation
          );

          resolve(pricingPriceObject);
        })
        .catch(error => {
          reject(error);
        });
    });
  };

  /* ------------------------------ PRICING PRICE OBJECT CONSTRUCTOR ------------------------------ */

  class PricingPriceObject {
    constructor(pricing, pricingPrice, calculation) {
      this.pricing = pricing;
      this.pricingPrice = pricingPrice;
      this.calculation = calculation;
    }
  }

  /* ======================================= DISCOUNT PRICE ======================================= */

  /* ------------------------------------- GET DISCOUNT PRICE ------------------------------------- */

  const getDiscountPrice = orderNumber => {
    return new Promise((resolve, reject) => {
      getOrderDetailsByOrderNumber(orderNumber).then(orderDetails => {
        discountPriceCalculation(orderDetails)
          .then(orderPriceObject => {
            resolve(orderPriceObject);
          })
          .catch(error => {
            reject(error);
          });
      });
    });
  };

  /* --------------------------------- DISCOUNT PRICE CALCULATION --------------------------------- */

  const discountPriceCalculation = orderDetails => {
    return new Promise((resolve, reject) => {
      /* ----------------------------- GET THE PARTS PRICING DETAILS ------------------------------ */
      partPriceCalculation(orderDetails)
        .then(partsPriceObject => {
          /* --------------------------- GET THE PRICING PRICE DETAILS ---------------------------- */
          pricingPriceCalculation(orderDetails)
            .then(pricingPriceObject => {
              /* -------------------------- DECLARE LOCAL VARIABLES --------------------------- */
              const totalPreDiscountPrice =
                Number(partsPriceObject.totalPrice) +
                Number(pricingPriceObject.pricingPrice);
              let discountPriceObjectArray = [];
              let totalDiscount = 0;
              let totalCalculation = "";
              /* ------------------------------ DEFINE VARIABLES ------------------------------ */
              for (let i = 0; i < orderDetails.discounts.length; i++) {
                /* ---------- DEFINE AND DECLARE VARIABLES FOR DISCOUNT PRICE OBJECT ---------- */
                const rate = Number(orderDetails.discounts[i].rate);
                const minOrderValue = Number(
                  orderDetails.discounts[i].minOrderValue
                );
                const maxOrderValue = Number(
                  orderDetails.discounts[i].maxOrderValue
                );
                let discountableValue = 0;
                let calculation = "";
                /* ----------- DEFINE VARIABLE: DISCOUNTABLE VALUE AND CALCULATION ------------ */
                if (
                  maxOrderValue > 0 &&
                  minOrderValue < totalPreDiscountPrice
                ) {
                  if (minOrderValue > 0) {
                    if (maxOrderValue < totalPreDiscountPrice) {
                      discountableValue = maxOrderValue - minOrderValue;

                      calculation =
                        "($" +
                        numberToTwoDecimalStringConverter(maxOrderValue) +
                        " - $" +
                        numberToTwoDecimalStringConverter(minOrderValue) +
                        ")";
                    } else if (maxOrderValue > totalPreDiscountPrice) {
                      discountableValue = totalPreDiscountPrice - minOrderValue;

                      calculation =
                        "($" +
                        numberToTwoDecimalStringConverter(
                          totalPreDiscountPrice
                        ) +
                        " - $" +
                        numberToTwoDecimalStringConverter(minOrderValue) +
                        ")";
                    }
                  }
                } else if (
                  minOrderValue > 0 &&
                  minOrderValue < totalPreDiscountPrice
                ) {
                  discountableValue = totalPreDiscountPrice - minOrderValue;

                  calculation =
                    "($" +
                    numberToTwoDecimalStringConverter(totalPreDiscountPrice) +
                    " - $" +
                    numberToTwoDecimalStringConverter(minOrderValue) +
                    ")";
                } else if (minOrderValue == 0) {
                  discountableValue = totalPreDiscountPrice;

                  calculation =
                    "$" +
                    numberToTwoDecimalStringConverter(totalPreDiscountPrice);
                } else {
                  discountableValue = 0;

                  calculation = "$" + numberToTwoDecimalStringConverter(0);
                }
                /* ------------------------ DEFINE VARIABLE: DISCOUNT ------------------------- */
                const discount = Number(discountableValue) * rate;
                /* ------------------ UPDATE VARIABLE: DISCOUNT CALCULATION ------------------- */
                calculation =
                  calculation +
                  " x " +
                  rate +
                  " = $" +
                  numberToTwoDecimalStringConverter(
                    Number(discountableValue) * rate
                  );
                /* --------------------- UPDATE VARIABLE: TOTAL DISCOUNT ---------------------- */
                totalDiscount = totalDiscount + discount;
                /* --------------- UPDATE VARIABLE: TOTAL DISCOUNT CALCULATION ---------------- */
                if (totalCalculation) {
                  if (i == orderDetails.discounts.length - 1) {
                    totalCalculation =
                      totalCalculation +
                      " + $" +
                      numberToTwoDecimalStringConverter(
                        Number(discountableValue) * rate
                      ) +
                      " = $" +
                      numberToTwoDecimalStringConverter(totalDiscount);
                  } else {
                    totalCalculation =
                      totalCalculation +
                      " + $" +
                      numberToTwoDecimalStringConverter(
                        Number(discountableValue) * rate
                      );
                  }
                } else {
                  if (i == orderDetails.discounts.length - 1) {
                    totalCalculation =
                      "$" +
                      numberToTwoDecimalStringConverter(
                        Number(discountableValue) * rate
                      ) +
                      " = $" +
                      numberToTwoDecimalStringConverter(totalDiscount);
                  } else {
                    totalCalculation =
                      "$" +
                      numberToTwoDecimalStringConverter(
                        Number(discountableValue) * rate
                      );
                  }
                }
                /* --------------- UPDATE VARIABLE: DISCOUNT PRICE OBJECT ARRAY --------------- */
                discountPriceObjectArray.push(
                  new DiscountPriceObject(
                    orderDetails.discounts[i].name,
                    rate,
                    minOrderValue,
                    maxOrderValue,
                    discount,
                    calculation
                  )
                );
              }
              /* ------------------ DEFINE VARIABLE: DISCOUNTS PRICE OBJECT ------------------- */
              const discountsPriceObject = new DiscountsPriceObject(
                discountPriceObjectArray,
                totalDiscount,
                totalCalculation
              );

              resolve(discountsPriceObject);
            })
            .catch(error => {
              reject(error);
            });
        })
        .catch(error => {
          reject(error);
        });
    });
  };

  /* ----------------------------- DISCOUNT PRICE OBJECT CONSTRUCTOR ------------------------------ */

  class DiscountPriceObject {
    constructor(
      name,
      rate,
      minOrderValue,
      maxOrderValue,
      discount,
      calculation
    ) {
      this.name = name;
      this.rate = rate;
      this.minOrderValue = minOrderValue;
      this.maxOrderValue = maxOrderValue;
      this.discount = discount;
      this.calculation = calculation;
    }
  }

  /* ----------------------------- DISCOUNTS PRICE OBJECT CONSTRUCTOR ----------------------------- */

  class DiscountsPriceObject {
    constructor(discountPriceObjectArray, totalDiscount, calculation) {
      this.discountPriceObjectArray = discountPriceObjectArray;
      this.totalDiscount = totalDiscount;
      this.calculation = calculation;
    }
  }

  /* ======================================= DELIVERY PRICE ======================================= */

  /* ------------------------------------- GET DELIVERY PRICE ------------------------------------- */

  const getDeliveryPrice = orderNumber => {
    return new Promise((resolve, reject) => {
      getOrderDetailsByOrderNumber(orderNumber).then(orderDetails => {
        deliveryPriceCalculation(orderDetails)
          .then(orderPriceObject => {
            resolve(orderPriceObject);
          })
          .catch(error => {
            reject(error);
          });
      });
    });
  };

  /* --------------------------------- DELIVERY PRICE CALCULATION --------------------------------- */

  const deliveryPriceCalculation = orderDetails => {
    return new Promise((resolve, reject) => {
      /* ------------------------------ DECLARE LOCAL VARIABLES ------------------------------- */
      let delivery;
      let details;
      let price;
      /* ----------------------------- DEFINE VARIABLES: DELIVERY ----------------------------- */
      delivery = orderDetails.delivery;
      /* ------------------------ DEFINE VARIABLES: DETAILS AND PRICE ------------------------- */
      if (delivery == "Pickup") {
        details =
          "Pickup is available 24/7. This means that customers can arrange a pickup time that suits them the most.";
        price = 0;
      } else if (delivery == "Tracking") {
        details =
          "Tracking takes up to 3 working days nationwide. You will be given a tracking number to track parcel.";
        price = 7;
      } else if (delivery == "Courier") {
        details =
          "Parcels shipped using the Courier service usually arrive the next working day between major towns and cities.";
        price = 8.5;
      }
      /* -------------------------- CREATE THE DELIVERY PRICE OBJECT -------------------------- */
      const deliveryPriceObject = new DeliveryPriceObject(
        delivery,
        details,
        price
      );

      resolve(deliveryPriceObject);
    });
  };

  /* ----------------------------- DELIVERY PRICE OBJECT CONSTRUCTOR ------------------------------ */

  class DeliveryPriceObject {
    constructor(delivery, details, price) {
      this.delivery = delivery;
      this.details = details;
      this.price = price;
    }
  }

  /* ======================================== ORDER PRICE ========================================= */

  /* -------------------------------------- GET ORDER PRICE --------------------------------------- */

  const getOrderPrice = orderNumber => {
    return new Promise((resolve, reject) => {
      getOrderDetailsByOrderNumber(orderNumber).then(orderDetails => {
        orderPriceCalculation(orderDetails)
          .then(orderPriceObject => {
            resolve(orderPriceObject);
          })
          .catch(error => {
            reject(error);
          });
      });
    });
  };

  /* ---------------------------------- ORDER PRICE CALCULATION ----------------------------------- */

  const orderPriceCalculation = orderDetails => {
    return new Promise((resolve, reject) => {
      /* ----------------------------- GET THE PARTS PRICING DETAILS ------------------------------ */
      partPriceCalculation(orderDetails)
        .then(partsPriceObject => {
          /* --------------------------- GET THE PRICING PRICE DETAILS ---------------------------- */
          pricingPriceCalculation(orderDetails)
            .then(pricingPriceObject => {
              /* ------------------------ GET THE DISCOUNTS PRICE DETAILS ------------------------- */
              discountPriceCalculation(orderDetails)
                .then(discountsPriceObject => {
                  /* ----------------------- GET THE DELIVERY PRICE DETAILS ----------------------- */
                  deliveryPriceCalculation(orderDetails)
                    .then(deliveryPriceObject => {
                      /* ------------------------ DECLARE LOCAL VARIABLES ------------------------- */
                      let orderPrice;
                      let calculation;
                      /* --------------------- DEFINE VARIABLES: ORDER PRICE ---------------------- */
                      orderPrice =
                        partsPriceObject.totalPrice +
                        pricingPriceObject.pricingPrice -
                        discountsPriceObject.totalDiscount +
                        deliveryPriceObject.price;
                      /* --------------------- DEFINE VARIABLES: CALCULATION ---------------------- */
                      calculation =
                        "$" +
                        numberToTwoDecimalStringConverter(
                          partsPriceObject.totalPrice
                        ) +
                        " + $" +
                        numberToTwoDecimalStringConverter(
                          pricingPriceObject.pricingPrice
                        ) +
                        " - $" +
                        numberToTwoDecimalStringConverter(
                          discountsPriceObject.totalDiscount
                        ) +
                        " + $" +
                        numberToTwoDecimalStringConverter(
                          deliveryPriceObject.price
                        ) +
                        " = $" +
                        numberToTwoDecimalStringConverter(orderPrice);
                      /* ----------------------- CREATE ORDER PRICE OBJECT ------------------------ */
                      const orderPriceObject = new OrderPriceObject(
                        orderPrice,
                        calculation
                      );

                      resolve(orderPriceObject);
                    })
                    .catch(error => {
                      reject(error);
                    });
                })
                .catch(error => {
                  reject(error);
                });
            })
            .catch(error => {
              resolve(error);
            });
        })
        .catch(error => {
          resolve(error);
        });
    });
  };

  /* ------------------------------- ORDER PRICE OBJECT CONSTRUCTOR ------------------------------- */

  class OrderPriceObject {
    constructor(orderPrice, calculation) {
      this.orderPrice = orderPrice;
      this.calculation = calculation;
    }
  }

  /* ============================================================================================== */
</script>
