<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>test Form</title>
</head>

<body>
  <form id="test_form" action="/new_order" method="POST">
    <input type="text" name="test_1" id="test_1">
    <input type="text" name="test_2" id="test_2">
    <input type="text" name="test_3" id="test_3">
    <input type="text" name="test_4" id="test_4">
    <button>Submit</button>
  </form>
</body>

</html>