<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>test Form</title>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
</head>

<body>
  <!--   <form action="/new_order" method="post" enctype="multipart/form-data">
    <input type="file" name="testfile">
    <input type="text" name="testtext">
    <button>Submit</button>
  </form> -->
  <form id="testform">
    <div>
      <div>
        <div>
          <input type="file" name="testfile" id="testfile">
        </div>
      </div>
      <div>
        <input type="text" name="testtext" id="testtext">
      </div>
    </div>

  </form>
  <button onclick="submit();">Submit</button>
</body>

<script>
  const submit = () => {
    let formElement = document.querySelector('#testform')
    let formData = new FormData(formElement);
    formData.append('additionalinfo', 'additionalinfo');

    $.ajax({
      type: "POST",
      url: "/new_order",
      processData: false,
      contentType: false,
      data: formData,
      success: function () {
        console.log('Success!');
      }
    })
  }
</script>

</html>