#profile_drawer_body {
  position: fixed;
  width: 30vmin;
  height: 80vmin; /* Test Height */
  top: 12vmin;
  right: 0;
  z-index: 100;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 0 3vmin;
}

.profile_drawer_element {
  font-family: "Russo One", sans-serif;
  font-size: 5vmin;
  color: rgb(50, 50, 50);
}
