.modal {
  position: fixed;
  z-index: 100;
  background-color: white;
  border-radius: 4vmin;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 5vmin;
  align-items: center;
}
