html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

#body {
  /* Screen Size Dependant */
  top: 12vmin;
  min-width: 100%;
  height: 100%;
  /* Constant */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  #body {
    top: 7vmin;
  }
}
