.profile_component_body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#profile_dashboard_header {
  height: 20vmin;
  display: flex;
  align-items: center;
}

#profile_dashboard_header_text {
  height: 12vmin;
  display: flex;
  align-items: center;
  padding: 0 0 0 5vmin;
  font-family: "Russo One", sans-serif;
  font-size: 8vmin;
}

@media only screen and (min-width: 600px) {
  #profile_dashboard_header {
    height: 12vmin;
  }

  #profile_dashboard_header_text {
    height: 7vmin;
    padding: 0 0 0 2.8vmin;
    font-size: 4.5vmin;
  }
}
