.drawer_element {
  /* Screen Size Dependant */
  font-size: 5vmin;
  padding: 4.5vmin 0 4.5vmin 0;
  /* Constant */
  width: 100%;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

@media only screen and (min-width: 600px) {
  .drawer_element {
    font-size: 3vmin;
    padding: 2vmin 0 2vmin 0;
  }
}
