.order_new_prints_process_body {
  height: 10vmin;
  width: 24vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vmin 2vmin 2vmin 2vmin;
  border-style: solid;
  border-radius: 2vmin;
  border-width: 0.2vmin;
  border-color: rgb(100, 100, 100);
  box-shadow: 0 0.5vmin 2vmin 0 rgba(20, 40, 50, 0.3);
  opacity: 0.5;
}

.order_new_prints_process_text {
  font-family: "Chivo", sans-serif;
  color: rgb(100, 100, 100);
  font-weight: 500;
}
