#footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgb(220, 220, 220);
  width: 100%;
  max-width: 100%;
  z-index: 80;
  top: 12vmin;
  padding: 6vmin 3vmin 6vmin 3vmin;
}

.footer_category_body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer_category_text {
  font-family: "Russo One", sans-serif;
  font-size: 3vmin;
  margin: 0 1vmin 0 1vmin;
  height: 6vmin;
}

.footer_content_body {
  height: 8vmin;
  display: flex;
  align-items: center;
}

.footer_content_text {
  font-family: "Chivo", sans-serif;
  font-size: 2.8vmin;
  margin: 0 1vmin 0 1vmin;
}

@media only screen and (min-width: 600px) {
  #footer {
    top: 7vmin;
    padding: 4vmin 2.8vmin 4vmin 2.8vmin;
  }

  .footer_category_text {
    font-size: 1.8vmin;
    margin: 0 1vmin 3vmin 1vmin;
    height: 2.5vmin;
  }

  .footer_content_body {
    height: 5vmin;
  }

  .footer_content_text {
    font-size: 1.8vmin;
    margin: 0 1vmin 0 1vmin;
  }
}
