/* ======================================= MODAL ======================================= */
/* ------------------------------------ MODAL MAIN ------------------------------------- */
#signup_modal {
  height: 60vh;
  width: 80vw;
  top: 20vh;
  left: 10vw;
  background-color: rgb(100, 10, 10, 0.95);
  overflow: hidden;
}
/* ----------------------------------- MODAL HEADER ------------------------------------ */
#signup_modal_header_body {
  top: 20vh;
  width: 80vw;
}
/* ------------------------------------ MODAL BODY ------------------------------------- */
#signup_modal_body {
  top: 10vmin;
  min-height: calc(60vh - 18vmin);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4vmin 0vmin 4vmin;
}
/* ----------------------------------- MODAL FOOTER ------------------------------------ */
#signup_modal_footer_body {
  top: calc(80vh - 8vmin);
  height: 8vmin;
  width: 80vw;
  padding: 0 3vmin 0 0;
  justify-content: flex-end;
}
/* ================================== SIGNUP CONTENT =================================== */
#modal_signup_login_statement_text_one {
  margin: 0 1vmin 0 0;
  color: rgb(80, 150, 255);
  font-weight: bolder;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  /* ======================================= MODAL ======================================= */
  /* ------------------------------------ MODAL MAIN ------------------------------------- */
  #signup_modal {
    height: 55vh;
    width: 35vw;
    top: 22.5vh;
    left: 32.5vw;
  }
  /* ----------------------------------- MODAL HEADER ------------------------------------ */
  #signup_modal_header_body {
    top: 22.5vh;
    width: 35vw;
  }
  /* ------------------------------------ MODAL BODY ------------------------------------- */
  #signup_modal_body {
    top: 6vmin;
    min-height: calc(55vh - 10.5vmin);
    padding: 0 4vmin 0 4vmin;
  }
  /* ----------------------------------- MODAL FOOTER ------------------------------------ */
  #signup_modal_footer_body {
    top: calc(77.5vh - 4.5vmin);
    height: 4.5vmin;
    width: 35vw;
    padding: 0 5vmin 0 0;
  }
  /* ================================== SIGNUP CONTENT =================================== */
  #modal_signup_login_statement_text_one {
    margin: 0 1vmin 0 0;
  }
}
