#side_drawer {
  /* Screen Size Dependant */
  width: 35vmin;
  top: 12vmin;
  border-radius: 0 0 1vmin 0;
  /* Constant */
  position: fixed;
  left: 0;
  z-index: 100;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  #side_drawer {
    width: 18vmin;
    top: 7vmin;
    border-radius: 0 0 0.6vmin 0;
  }
}
