#order_new_prints_step_2_body {
  display: block;
}
.order_new_prints_step_2_input_field_body {
  margin: 3vmin 6vmin 3vmin 6vmin;
}

.order_new_prints_step_2_header_body {
  margin: 0 0 3vmin;
}

.order_new_prints_step_2_header_text {
  font-family: "Raleway", sans-serif;
  font-size: 4.5vmin;
  font-weight: bold;
  color: rgb(140, 10, 10);
}

.order_new_prints_step_2_input_body {
  display: flex;
  flex-wrap: wrap;
}
