#pricing_summary_body {
  height: 142vmin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: rgb(245, 245, 245);
}

.material_pricing_tabs {
  height: 10vmin;
  width: 100%;
  display: flex;
}

#material_details_pricing_body {
  height: 112vmin;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  #pricing_summary_body {
    height: 90vmin;
  }

  .material_pricing_tabs {
    height: 6vmin;
  }

  #material_details_pricing_body {
    height: 72vmin;
  }
}
